<% provide(:title, "仮想BANK入金") %>
<h1>仮想BANK入金</h1>
<h6>リアル銀行振込を仮想BANKへ、手動で入金反映させるページ</h6>
<br>
<div class="container">
  <div class="form-center">
    <div class="box-whitesmoke">
      <div class="row">
        <div class="col-md-12 col-md-offset-3">

          <%= form_for(@user) do |f| %>
          <%= render 'shared/error_message', object: f.object %>
          
          <%= render "flows/new" %>
          
          <!--<p>変更後の額　-->
          <%#= f.text_field :money %>
          　<!--円</p>-->
          <br>
          
          <!--フォームで何も送信されないとそれもバグになる-->
          <%= f.submit "変更する", class: "btn btn-primary", data: { disable_with: "変更中..." } %>
          <% end %>     
          
          <br>
          <br>
          <%= link_to '戻る', "/bss/" %>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--<%# if @flow_items.any? %>-->
<!--<%# @flow_items.each do |flow| %>-->

<!--<%#= flow.year_date %>-->
<!--<%#= flow.month_date %>-->

<!--<%# end %>  -->
<!--<%# end %>  -->
<%#= render "flows/index" %>
