<% provide(:title,"トップページ") %>

<% session.delete(:fowarding_url)
    store_location %>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">

<style>

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.img-container:hover .image {
  opacity: 0.7;
}

.img-container:hover .middle {
  opacity: 1;
}

.img-text {
  background-color: #e34883;
  color: white;
  font-size: 10px;
  padding: 5px 15px;
  border-radius: 15px;
}
</style>



</div>
<div style="background: url('bg.jpg'); padding-bottom: 30px;">

<% if logged_in? %>

		<% if current_user.type_user == "student" %>

		<div class="container">

							<% @users.each do |user| %>
							<% if user.busy == "available" %>

      <div class="col-md-3 img-container" style="margin-top: 20px;">
         <%= link_to user_path(user) , :class => "" , :style => "color:black;" do %>
        <img src="<%= user.picture %>" class="img img-responsive img-circle center-block image" style="width: 200px; height: 200px; border: 8px solid #f8f8fa; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
          <div class="middle">
            <div class="img-text">今すぐ電話する</div>
          </div>
          <p style="font-family: Quicksand; text-align: center; font-size: 1.2em; margin-top: 10px; font-weight: bold; color: #283b54;" class="center-block"><%= user.name %></p>
          <p class="center-block" style="text-align: center; background-color: #3dd9ff; width: 50%; padding: 3px; border-radius: 10px; color: #fff; "><i class="fa fa-check-circle"></i> 受講可！</p>
          </div>

        <% end %> <!-- end of link_to -->

        <% elsif user.busy == "busy" %>

      <div class="col-md-3 img-container" style="margin-top: 20px;">
        <%= link_to user_path(user) , :class => "" , :style => "color:black;" do %>
        <img src="<%= user.picture %>" class="img img-responsive img-circle center-block image" style="width: 200px; height: 200px; border: 8px solid #f8f8fa; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); -webkit-filter: grayscale(100%); filter: grayscale(100%);">
<!--           <div class="middle">
            <div class="img-text">今すぐ電話する</div>
          </div> -->
          <p style="font-family: Quicksand; text-align: center; font-size: 1.2em; margin-top: 10px; font-weight: bold; color: #283b54;" class="center-block"><%= user.name %></p>
          <p class="center-block" style="text-align: center; background-color: #3dd9ff; width: 50%; padding: 3px; border-radius: 10px; color: #fff; -webkit-filter: grayscale(100%); filter: grayscale(100%); "><i class="fa fa-exclamation-triangle"></i> 退席中</p>
          </div>
        <% end %>
							
      <% end %> <!-- user.busy -->

    <% end %> <!-- @users.each -->

  <% end %> <!-- current_user.type_user -->
<% end %> <!-- logged_in -->


    <%# elsif user.busy == 'call' %>

     <!--  <div class="col-md-3 img-container" style="margin-top: 20px;">
         <%#= link_to user_path(user) , :class => "" , :style => "color:black;" do %>
        <img src="<%#= user.picture %>" class="img img-responsive img-circle center-block image" style="width: 200px; height: 200px; border: 8px solid #f8f8fa; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
          <div class="middle">
            <div class="img-text">今すぐ電話する</div>
          </div>
          <p style="font-family: Quicksand; text-align: center; font-size: 1.2em; margin-top: 10px; font-weight: bold; color: #283b54;" class="center-block"><%#= user.name %></p>
          <p class="center-block" style="text-align: center; background-color: #3dd9ff; width: 50%; padding: 3px; border-radius: 10px; color: #fff; "><i class="fa fa-check-circle"></i> 受講可！</p>
        <%# end %>
      </div> -->


</div>