<% provide(:title,"トップページ") %>

<%     session.delete(:fowarding_url)
    store_location
    %>
</div>
<div style="background: url('bg.jpg'); padding-bottom: 30px;">

<% if logged_in? %>
<% if current_user.type_user != "not-yet-teacher" %>

		<% unless current_user.type_user == "teacher"%>
		<!--student-->
		<!--student-->
		<!--student-->
		<div class="container" style="padding:0 3% 0 3%;">
			<h2 style=" font-family: 'Work Sans', sans-serif;" class="text-center" >Teachers <span style="font-size:6px; font-family: ten-mincho, serif; font-style: normal; font-weight: 100;">『今』空いてる先生</span></h2>
		<!--<h4 style="font-size:15px;">Let's buy teacher's TIME !!</h4>-->
		        <div class="content">
						<div class="grid" style=" text-align: center;
											      margin: auto;">
							<% @users.each do |user| %>
							<% if user.busy == "available" %>
										<% if user.sex == "male" %>
							
				<figure class="effect-jazz jazz2">
							<img src="<%= user.picture %>" style="padding: 5px; background: -moz-radial-gradient(50% 50%, #fff, #fff);background: -webkit-radial-gradient(50% 50%, #fff, #fff); background: -o-radial-gradient(50% 50%, #fff, #fff); background: -ms-radial-gradient(50% 50%, #fff, #fff); background: radial-gradient(50% 50%, #fff, #fff)" />
						<figcaption class="hidden-xs">
							<h2 style="font-size:17px;">Teacher <%= user.nick %></h2>
							<p style="font-size:8px;"><span style="font-size:6px; font-family: ten-mincho, serif; font-style: normal; font-weight: 100;">趣味：</span><%= user.hobby %></p>
							<p style="font-size:8px;"><span style="font-size:6px; font-family: ten-mincho, serif; font-style: normal; font-weight: 100;">スキル：</span><%= user.skill %></p>
                        <%= link_to user_path(user) , :class => "" , :style => "color:black;" do %>
                           show more
                           <%#=image_tag '/assets/1.png', width: 136, height: 67, alt: 'a face that is unnervingly happy'%>
                        <% end %>
						</figcaption>
					</figure>
						<div class="hidden-md hidden-sm hidden-lg col-xs-12">
						<h2 style=" font-family: 'Work Sans', sans-serif;" class="text-center"><%= user.nick %></h2>

						</div>
												
						<% else %>

						<div class="main-with-nav">
										
					<figure class="effect-jazz jazz1">
			<img src="<%= user.picture %>" style="padding: 5px; background: -moz-radial-gradient(50% 50%, #fff, #fff);background: -webkit-radial-gradient(50% 50%, #fff, #fff); background: -o-radial-gradient(50% 50%, #fff, #fff); background: -ms-radial-gradient(50% 50%, #fff, #fff); background: radial-gradient(50% 50%, #fff, #fff)" />
						<figcaption class="hidden-xs">
							<h2 style="font-size:17px;">Teacher <%= user.nick %></h2>
							<p style="font-size:8px;"><span style="font-size:6px; font-family: ten-mincho, serif; font-style: normal; font-weight: 100;">趣味：</span><%= user.hobby %></p>
							<p style="font-size:8px;"><span style="font-size:6px; font-family: ten-mincho, serif; font-style: normal; font-weight: 100;">スキル：</span><%= user.skill %></p>
	                    <%= link_to user_path(user) , :class => "" , :style => "color:black;" do %>
	                       show more
	                       <%#= image_tag '/assets/1.png', width: 136, height: 67, alt: 'a face that is unnervingly happy'%>
	                    <% end %>
						</figcaption>	
					</figure>
						<div class="hidden-md hidden-sm hidden-lg col-xs-12">
						<h2 style=" font-family: 'Work Sans', sans-serif;" class="text-center"><%= user.nick %></h2>

						</div>
													
										<% end %>

							<% elsif user.busy == 'call' %>

							<figure class="effect-jazz mono" style="opacity: 1;">
							
							<img src="<%= user.picture %>" style="padding: 5px; background: -moz-radial-gradient(50% 50%, #fff, #fff);background: -webkit-radial-gradient(50% 50%, #fff, #fff); background: -o-radial-gradient(50% 50%, #fff, #fff); background: -ms-radial-gradient(50% 50%, #fff, #fff); background: radial-gradient(50% 50%, #fff, #fff)" />
												<div class="cover-text text-center">
													<p style="color: #fff;"></p>
												</div>
													<figcaption style="margin-top:20px;">
														<h2 style="font-family: 'Gloria Hallelujah', cursive; font-weight: 100; font-size:10px;"><span style="font-size:20px;">I'M ONLINE<br> BUT ON A<br> CALL....</span></h2>
							<%= link_to user_path(user) , :class => "" , :style => "color:black;" do %>
	                       show more
	                       <% end %>
													</figcaption>
												</figure>
										
														
							<% else %>
								<figure class="effect-jazz mono" style="opacity: 1;">
							<img src="<%= user.picture %>" style="padding: 5px; background: -moz-radial-gradient(50% 50%, #fff, #fff);background: -webkit-radial-gradient(50% 50%, #fff, #fff); background: -o-radial-gradient(50% 50%, #fff, #fff); background: -ms-radial-gradient(50% 50%, #fff, #fff); background: radial-gradient(50% 50%, #fff, #fff)" />
												<div class="cover-text text-center">
													<p style="color: #fff;"></p>
												</div>
													<figcaption style="margin-top:20px;">
														<h2 style="font-family: 'Gloria Hallelujah', cursive; font-weight: 100; font-size:10px;"><span style="font-size:20px;">Sorry...</span><br><br><br> I'm currently offline!</h2>
							<%= link_to user_path(user) , :class => "" , :style => "color:black;" do %>
	                       show more
	                       <% end %>
									</figcaption>
								</figure>
							<% end %>
							<% end %>
						</div>
					</div>
		</div>
		</div>
		<% else %>
		<!--teacher-->
		<!--teacher-->
		<!--teacher-->
		<p>
		<br/>

		<div class="container" style="padding:0 3% 0 3%;">

		<div class ="row">
			<div class = "col-md-12"><p>
		
		    <div class="panel panel-success">
      <div class="panel-heading">
        <h2 class="panel-title"><span class="pull-right glyphicon glyphicon-th-list"></span>Announcement</h2>
      </div>
      <div class="panel-body">
      <h3>Welcome To Timee!</h3>
      <p>Welcome and thank you for joining timee. We make timee simple and easy to use for teachers and students. If you have any questions, concerns or feedbacks, please let us know by clicking the Contact Us button below.</p>
     	</div>
  	</div>

      <div class="panel panel-info">
      <div class="panel-heading">
        <h2 class="panel-title"><span class="pull-right glyphicon glyphicon-th-list"></span>Students Online</h2>

      </div>
      <div class="panel-body">
      	<div class="col-md-3" style="border: 1px solid #ccc;">
      		   <% @students_online.each do |u| %>
      	       <% if u.last_seen_at.present?
      	       		if u.last_seen_at > 5.minutes.ago %>
      	       		<img src="<%= u.picture %>" style="width: 100px;" class="center-block">
      	       		<p class="text-center"><%= u.name %></p>

	       		<% end %>
	       	<% end %>
       <% end %>
       	  </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title"><span class="pull-right glyphicon glyphicon-th-list"></span>Teachers Online</h2>

      </div>
      <div class="panel-body">
      	<div class="col-md-3" style="border: 1px solid #ccc;">
      	       <% @teachers_online.each do |u| %>
       		      	<% if u.last_seen_at.present?
      	       			if u.last_seen_at > 5.minutes.ago %>
      	            <img src="<%= u.picture %>" style="width: 100px;" class="center-block">
      	       		<p class="text-center"><%= u.name %></p>
      	       		<% end %>
       		<% end %>

       </div>
       	<% end %>
      </div>
    </div>
  </div>



		</div>
		</div>
		</p>
		</div>
	</body>
		<!--teacher-->
		<!--teacher-->
		<!--teacher-->
		<% end %>
		
<% else %>
<div class="col-md-12">

<div class="panel panel-success">
      <div class="panel-heading">
        <h2 class="panel-title"><span class="pull-right glyphicon glyphicon-th-list"></span>Announcement</h2>
      </div>
      <div class="panel-body">
      <h3>Welcome To Timee!</h3>
      <p>Welcome and thank you for joining timee. We make timee simple and easy to use for teachers and students. If you have any questions, concerns or feedbacks, please let us know by clicking the Contact Us button below.</p>


	<p style="text-align: center">Your application is currently under review, please complete your Teacher's Profile by clicking the profile menu at the top. Thank you</p>
     	</div>
  	</div>

<% end %>

<% else %>

</div>




<br>

<div class="center" style="height:400px; width:100%; padding:0 25% 0 25%;">

   
  
                <h1 class="navbar-brand" style="zoom:3;">
                <span style="
                font-family: 'Quicksand', sans-serif;
                font-family: 'Nothing You Could Do', cursive;
                font-family: 'Black Ops One', cursive;
                , cursive; font-size:40px;">timee.</span>
                <br>
                <span style="
                      font-family: 'Work Sans', sans-serif;
                , cursive; font-size:3px; position:relative; top:-10px;">You NEVER lack TIME to STUDY</span>
                
                </h1>

<%= link_to "新規会員登録", "/signup", class:"btne" , :style => "margin:0 20px 0 0;" %>
<%= link_to "ログイン", "/login", class:"btne" , :style => "margin:0 20px 0 0;" %>
<!--未ログインの場合に-->

</div>



<% end %>

</div>