<% provide(:title,"投稿中の機器一覧") %>

  <div class="row">




<div style="width:90%; margin:0 5% 0 5%; ">

<h3>全ての投稿(掲載終了含む)</h3>
<p>編集ボタンから、掲載終了記事を再掲載させることも可能です。</p>

<h5>スロット</h5>


<div class="container-fullwidth fixed-top-2 navbar_color2 margin2">
<nav class="navbar nav_wide navbar_center">

<div class="right_menu menu_box"></div> 
<div class="right_menu menu_box"><%= link_to "パチンコ", "/own_finish", :class => 'orange' %></div> 
<div class="right_menu menu_box"><%= link_to "スロット", "/own_slot_finish", :class => 'orange' %></div> 
<div class="right_menu menu_box"><%= link_to "その他", "/own_extra_finish", :class => 'orange' %></div> 
<div class="right_menu menu_box"></div> 

</nav>
</div>
</div>

<br>

<div class="container-fullwidth fixed-top-2 navbar_color2 margin2 boxContainer"> 

<div class="parent"> 
<div class="box"> 
<%= form_tag("/own_slot_finish/", method: "get") do %>

<%= label_tag :maker, "メーカーから検索" %> <br>
<%= select :sell, :maker, [["アイウィル", "アイウィル"], ["ＩＧＴ", "ＩＧＴ"], 
["アイ電子", "アイ電子"],
["アクロス", "アクロス"],
["アスワン東京", "アスワン東京"],
["アトム", "アトム"],
["アビリット", "アビリット"],
["アリストクラート", "アリストクラート"],
["アルゼ", "アルゼ"],
["アルチザン", "アルチザン"],
["イープレイ", "イープレイ"],
["イレブン", "イレブン"],
["エール", "エール"],
["ＥＸＣＩＴＥ", "ＥＸＣＩＴＥ"],
["ＳＮＫプレイモア", "ＳＮＫプレイモア"],
["エマ", "エマ"],
["エレコ", "エレコ"],
["エンターライズ", "エンターライズ"],
["オーイズミ", "オーイズミ"],
["岡崎産業", "岡崎産業"],
["オリンピア", "オリンピア"],
["オルカ", "オルカ"],
["北電子", "北電子"],
["京楽", "京楽"],
["銀座", "銀座"],
["KPE", "KPE"],
["コルモ", "コルモ"],
["サミー", "サミー"],
["三共", "三共"],
["三協電子", "三協電子"],
["SANKO", "SANKO"],
["三洋", "三洋"],
["ＪＳＩ", "ＪＳＩ"],
["ジェイピーエス", "ジェイピーエス"],
["ＪＩＮ", "ＪＩＮ"],
["スター", "スター"],
["スパイキー", "スパイキー"],
["清龍ジャパン", "清龍ジャパン"],
["ソフィア", "ソフィア"],
["大一", "大一"],
["大都技研", "大都技研"], 
["タイヨー", "タイヨー"], 
["タイヨーエレック", "タイヨーエレック"],
["高砂電器産業", "高砂電器産業"],
["DAXEL", "DAXEL"],
["中京遊技", "中京遊技"],
["デージー", "デージー"],
["ディ・ライト", "ディ・ライト"],
["デンケン販売", "デンケン販売"],
["トリビー", "トリビー"],
["トロージャン", "トロージャン"],
["七匠", "七匠"],
["ニイガタ電子", "ニイガタ電子"],
["西陣", "西陣"],
["ニュー・モンキー", "ニュー・モンキー"],
["ニューギン", "ニューギン"],
["ネイチャー・アセスメント", "ネイチャー・アセスメント"],
["ネット", "ネット"],
["ハイライツ・エンタテインメント", "ハイライツ・エンタテインメント"],
["バルテック", "バルテック"],
["パイオニア", "パイオニア"],
["パラジェーピー", "パラジェーピー"],
["パレス興業", "パレス興業"],
["ビーム", "ビーム"],
["ビスティ", "ビスティ"],
["ファースト", "ファースト"],
["フォープ", "フォープ"],
["藤興", "藤興"],
["藤商事", "藤商事"],
["ブリッジ", "ブリッジ"],
["平和", "平和"],
["ベルコ", "ベルコ"],
["マツヤ", "マツヤ"],
["ミズホ", "ミズホ"],
["メーシー", "メーシー"],
["メーシー販売", "メーシー販売"],
["ヤーマ", "ヤーマ"],
["山佐", "山佐"],
["遊人", "遊人"],
["ユニバーサルエンターテインメント", "ユニバーサルエンターテインメント"],
["ユニバーサルブロス", "ユニバーサルブロス"],
["ラスター", "ラスター"],
["リックコーポレーション", "リックコーポレーション"],
["ロデオ", "ロデオ"],
["その他", "その他"]], include_blank: true %>
<%= submit_tag "検索" %>
<% end %>
</div>
</div>


<div class="parent"> 
<div class="box"> 
<%= form_tag( own_slot_finish_path , method: "get") do %>
<%= label_tag :name, "機器名から検索　" %>
<%= text_field_tag :name , params[:name] %>
<%= submit_tag "検索" %>
<% end %>
</div>
</div>

<!--<div class="parent"> -->
<!--<div class="box"> -->
<!--<%#= paginate @sells %>-->
<!--</div>-->
<!--</div>-->

</div>
      
   <div class="width_container">
    <div class="col-md-8 ">
      <%= render 'sells/sell2' %>
    </div>
     <%#= render 'more' %>
    <%#= will_paginate @sells %>
    </div>
 </div>
 
<%= paginate @sells %>



 </div>
