<% provide(:title,"投稿中の機器一覧") %>

  <div class="row">




<div style="width:90%; margin:0 5% 0 5%; ">

<h3>投稿中の機器一覧</h3>
<h5>その他</h5>


<div class="container-fullwidth fixed-top-2 navbar_color2 margin2">
<nav class="navbar nav_wide navbar_center">

<div class="right_menu menu_box"></div> 
<div class="right_menu menu_box"><%= link_to "パチンコ", "/own", :class => 'orange' %></div> 
<div class="right_menu menu_box"><%= link_to "スロット", "/own_slot", :class => 'orange' %></div> 
<div class="right_menu menu_box"><%= link_to "その他", "/own_extra", :class => 'orange' %></div> 
<div class="right_menu menu_box"></div> 

</nav>
</div>

</div>



<!--<div class="float">-->
<%#= link_to '新規投稿', new_sell_path %>
<!--</div>-->

<br>






<div class="container-fullwidth fixed-top-2 navbar_color2 margin2 boxContainer"> 

<div class="parent"> 
<div class="box"> 

<%= form_tag( own_extra_path , method: "get") do %>
<%= label_tag :type_machine, "種目から検索" %> <br>
<%= select :sell, :type_machine,
       [
       ["両替・カード発券機関連", "両替・カード発券機関連"], 
       ["ＣＲユニット・玉貸サンド関連", "ＣＲユニット・玉貸サンド関連"], 
       ["メダルサンド関連", "メダルサンド関連"],
       ["トランス関連", "トランス関連"],
       ["データ表示機関連", "データ表示機関連"],
       ["計数機関連", "計数機関連"],
       ["洗浄機関連", "洗浄機関連"],
       ["セキュリティ関連", "セキュリティ関連"],
       ["ホールコンピュータ・ポス関連", "ホールコンピュータ・ポス関連"],
       ["その他", "その他"]
       ], include_blank: true %>
<%= submit_tag "検索" %>
<% end %>



<%#= form_tag(root_url, method: "get") do %>
<%#= label_tag :maker, "メーカーから検索　" %>
<%#= select_tag :maker, options_for_select(Sell.makers), include_blank: true %>
<%#= submit_tag "検索" %>

</div>
</div>


<div class="parent"> 
<div class="box"> 
<%= form_tag( own_extra_path, method: "get") do %>
<%= label_tag :name, "機器名から検索　" %>
<%= text_field_tag :name , params[:name] %>
<%= submit_tag "検索" %>
<% end %>
</div>
</div>

<!--<div class="parent"> -->
<!--<div class="box"> -->
<!--<%#= paginate @sells %>-->
<!--</div>-->
<!--</div>-->

</div>
      
   <div class="width_container">
    <div class="col-md-8 ">
      <%= render 'sells/sell3' %>
    </div>
     <%#= render 'more' %>
    <%#= will_paginate @sells %>
    </div>
 </div>
 
<%= paginate @sells %>




 </div>