<li>
    
会社名
<%= user.company %>
<br>
<%= user.year_date %>年 
<%= user.month_date %>月 
<%= user.day_date %>日 
<br>
<%= user.before_price %> + 
<%= user.price %> = 
<%= user.after_price %>
<br>
<%= user.staff %>
<br>
メモ
<%= user.memo %>


</li>