<div style="margin:0 10% 0 10%;">

<h3>All Salary History</h3>

<br>
<div class="width_table">
<table class="table font-small sampleTable small-zoom">
  <thead class="thead-inverse">
    <tr scope="row">

    
      <th width="100"><%=  "date" %> </th>
      
      <th width="100"><%= "Teacher" %></th>
      <th width="100"><%= "Price" %></th>

  
      <th width="100"><%= "staff" %></th>
      
      <th width="100"><%= "memo" %></th>
      
    </tr>
  </thead>
  <tbody>
   <% @flows.each do |flow| %>

   
      <tr scope="row">

      
        
        <td>
        <%= flow.created_at.strftime("%y-%m-%d") %>
        </td>
        
        <td>
        <% @user = User.where(:id => flow.before_price) %>
        <%= @user[0].name %>
        </td>
        
        <td>
          <%= flow.price %>yen
        </td>
        
        
        <td>
          <%= flow.staff %>
        </td>
        
        <td>
        <%= flow.memo %>
        </td>
        

      </tr>
      
      
    <% end %>
  
  <%= paginate @flows %>
  
 </tbody>
</table>


<a type="button" class="btn col-md-offset-1 col-md-5 col-xs-offset-1 " style=" margin:50px 30% 20px 30%; color:black;" href="/user/salary"><i class='fa fa-mail-reply'></i> 戻る</a>

</div></div>
