
<div class="container" style="padding:0 3% 0 3% ;">
 

<h2>Purchase the TIME <span style="font-size:6px; font-family: 'Work Sans', sans-serif;">タイムを購入</span></h2>
<br>


<div style="margin:0 3% 0 3%; width:100%;">

<%= form_for(@user) do |f| %>
<%= f.hidden_field :addtime , :value => 10 %>
<button class="btn btn-lg btn-success col-md-5 col-xs-5" style="margin: 0 20px 0 20px; width:200px; height:200px; float:left;" name="time"> <i class="fa fa-hourglass" aria-hidden="true"></i> １０分<br><small style="font-size:7px;">( ３００円 )</small>
<%= f.submit  data: { disable_with: "購入中..." }, :style => 'display:none', name: "time", id: "time" %>
</button>
<% end %> 


<%= form_for(@user) do |f| %>
<%= f.hidden_field :addtime , :value => 60 %>
<button class="btn btn-lg btn-success col-md-5 col-xs-5" style="margin: 0 20px 0 20px; width:200px; height:200px; float:left;" name="time"> <i class="fa fa-hourglass" aria-hidden="true"></i> １時間<br><small style="font-size:7px;">( １,２００円 )</small>
<%= f.submit  data: { disable_with: "購入中..." }, :style => 'display:none', name: "time", id: "time" %>
</button>
<% end %> 


<%= form_for(@user) do |f| %>
<%= f.hidden_field :addtime , :value => 180 %>
<button class="btn btn-lg btn-success col-md-5 col-xs-5" style="margin:0 20px 0 20px; width:200px; height:200px; float:left;" name="time"> <i class="fa fa-hourglass" aria-hidden="true"></i>３時間<br><small style="font-size:7px;">( ３,３００円 )</small>
<%= f.submit  data: { disable_with: "購入中..." }, :style => 'display:none', name: "time", id: "time" %>
</button>
<% end %> 


<%= form_for(@user) do |f| %>
<%= f.hidden_field :addtime , :value => 600 %>
<button class="btn btn-lg btn-success col-md-5 col-xs-5" style="margin: 0 20px 0 20px; width:200px; height:200px; float:left;" name="time"><i class="fa fa-hourglass" aria-hidden="true"></i> １０時間<br><small style="font-size:7px;">( １０,０００円 )</small>
<%= f.submit  data: { disable_with: "購入中..." }, :style => 'display:none', name: "time", id: "time" %>
</button>
<% end %> 

</div>

<a type="button" class="btn col-md-offset-1 col-md-5 col-xs-offset-1 " style=" margin:50px 30% 20px 30%; color:black;" href="/"><i class='fa fa-mail-reply'></i> 戻る</a>










</div>




<div style="clear: both;"> </div>