<% provide(:title, "Dashboard") %>

<!--先生ダッシュボード-->
<div class="col-md-12" style="margin-top: 20px;">
  <div class="col-md-3">
       <div class="thumbnail">
          <img src="<%= @user.picture %>" alt="...">
          <div class="caption">
            <h3 class="text-center">Teacher <%= @user.nick %></h3>
          </div>
       </div>
  </div>

  <div class="col-md-3">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h2 class="panel-title"><span class="pull-right fa fa-money"></span>Total Earnings</h2>
      </div>
      <div class="panel-body">
        <p><%= @user.time %>mins ~ [P<%= number_with_precision((@user.time * 2.5), :precision => 2, :delimiter => ',') %>]</p>
        <a href="#" class="btn btn-default" onclick="return confirm('We are still making this system. If you want to withdraw your timee minutes, please use the contact us link below.')">Withdraw Money</a>
      </div>
    </div>

    <div class="panel panel-warning">
      <div class="panel-heading">
        <h2 class="panel-title"><span class="pull-right fa fa-clock-o"></span>Time Log</h2>
      </div>
      <div class="panel-body">
        <% @time_in.each do |t| 
          if Time.now.hour >= 19 %>
        <p style="color:green;"><strong>Time In:</strong> <%= t.time_in.strftime("%I:%M%p") %></p>
        <% else %>
        <p><strong>Time In:</strong> <%= t.time_in.strftime("%I:%M%p") %></p>
          <% end %>
        <% end %>
        <% @time_out.each do |t| %>
        <p><strong>Time Out: </strong><%= t.time_out.strftime("%I:%M%p") %></p>
        <% end %>
        <% if Time.now.hour >= 19 %>
        <p style="color:red; !important;"><small>Incentive Time. Make sure Login time is 6PM to earn incentive.</small></p>
        <% end %>
      </div>

  </div>
</div>

  <div class="col-md-3">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h2 class="panel-title"><span class="pull-right glyphicon glyphicon-headphones"></span>Status</h2>
      </div>
      <%= form_for(@user) do |f| %>
      <%= render 'shared/error_message', object: f.object %>
      <div class="panel-body">
      <div class="radio" style="margin-bottom: 10px;">
      <label><%= f.radio_button :busy, "available" %>Available</label>
      <label><%= f.radio_button :busy, "busy" %>Unavailable</label>
      <label><%= f.radio_button :busy, "call", disabled: "" %>On a call</label>

      </div>
      <%= f.submit "Submit", class: "btn btn-primary btn-sm", name: "busy", id: "submit_available" %>
      <% end %><% if @user.busy == "call" %><span style="color:red">STATUS ON CALL!</span><% end %>
      </div>
    </div>

    <div class="panel panel-danger">

      <div class="panel-heading">
        <h2 class="panel-title"><span class="pull-right glyphicon glyphicon-bullhorn"></span>Notice</h2>
      </div>
      <div class="panel-body">
      <div class="radio" style="margin-bottom: 10px;">
      <% if @student_name.present? %>
      <% @student_name.each do |s| %>
      <p>Please prepare, student <span style="color:red; font-weight:bold"><%= s.student %></span> is viewing your profile.</p>
      <% end %>
      <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h2 class="panel-title"><span class="pull-right glyphicon glyphicon-th-list"></span>Total</h2>
      </div>
      <div class="panel-body">
        <label><%= @totalsafes.count %></label> classes<br/>
        <!-- <label><%= @totalsafes.sum(:time) %></label> mins -->
      </div>
    </div>
  </div>

</div>



<!-- original dashboard -->
<!-- original dashboard -->
<!-- original dashboard -->
<!--   <div style="width:100%; margin:0 0% 0 5%; zoom:0.8;">
    
    <div style="padding:0 0 30px 0px; width:200px; float:left; margin:0 0px 0 0px;">
    <div style="padding:0 0 10px 0px; font-size:25px;">Teacher. <%= @user.name %></div>
    <div style="padding:0 0 10px 0px; font-size:25px;"><img src="<%= @user.image %>" alt="img25" width="150"/></div>
    <br>
    </div>
    
    
    <div class="box1" style="padding:0 0 30px 30px; width:200px; float:left; margin:0 10px 0 10px;">
    <h4>Savings</h4>
    <span style="font-size:45px;">

    <% if @user.time.nil? %>
    0
    <% else %>
    <%= @user.time %>
    <% end %>
    </span>mins
    </div>

    <div class="box1" style="padding:0 0 30px 30px; width:200px; float:left; margin:0 10px 0 10px;">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_message', object: f.object %>
     <h4>Status</h4>
     <div class="radio" style="margin-bottom: 10px;">
     <label><%= f.radio_button :busy, "busy" %>busy</label>
     <label><%= f.radio_button :busy, "No" %>no</label>
     </div>
      <%= f.submit "submit", class: "btn btn-primary", name: "busy" %>
    <% end %>
    </div>

    <div class="box1" style="padding:0 0 70px 30px; width:200px; float:left; margin:0 10px 0 10px;">
    <h4>Refresh</h4>
      <script>
      function koshin(){
        location.reload();
      }
      </script>
      <input type="button"  value="submit" onclick="koshin()">
    </div>
    
    <div class="box1" style="padding:0 0 50px 30px; width:200px; float:left; margin:0 10px 0 10px;">
    <h4>Total</h4>
    <div style="padding:0 0 0px 0px; font-size:15px;">　<%= @totalsafes.count %> lessons<br>
    　<%= @totalsafes.sum(:time) %> mins</div>
    </div>
    
    
    
 </div>
 
   <div style="clear: both;"> </div>
   
   
   
<div style="margin:0 15% 0 5%;">  

 -->
<div class="container">
 <div class="row">
  <div class="col-md-12">
    <table class="table table-bordered table-hover table-compact text-center">
      <thead class="thead-default">
      <tr>
      <th class="info text-center col-md-1">ID</th>
      <th class="info text-center col-md-2">Time Created</th>
      <th class="info text-center col-md-2">Student Name</th>
      <th class="info text-center col-md-1">Time</th>
      <th class="info text-center col-md-3">Student Notes</th>
      <th class="info text-center col-md-2">Topic</th>     
      <th class="info text-center col-md-2">Status</th>
      <th class="info text-center col-md-1">Del</th>
      </tr>
      </thead>
      <tbody>

  <% @safes.each do |safe| %>

          <td><%= safe.id %></td>
          <td><%= (safe.created_at).strftime("%I:%M%p") + ' ~ ' + time_ago_in_words(safe.created_at) %></td>
          <td><%= safe.student %></td>
          <% @p = "\"" + safe.student + "\"" %>
          <% @id = User.find_by(name: safe.student) %>
          <td>
              <% if @id.time.nil? %>
              0 mins
              <% else %>
              <%= @id.time %> mins
              <% end %>
  
          </td>
          <td><%= safe.notes %></td>
          <% if safe.topic == "Travel English" %>
          <td><%= safe.topic %><a href="course/travel" target="_blank" class="btn btn-success" style="color: #fff;">Click Here</a></td>
          <% elsif safe.topic == "Idiomatic Expression" %>
          <td><%= safe.topic %><a href="course/idiomatic" target="_blank" class="btn btn-success" style="color: #fff;">Click Here</a></td>
          <% elsif safe.topic == "Business English" %>
          <td><%= safe.topic %><a href="course/business" target="_blank" class="btn btn-success" style="color: #fff;">Click Here</a></td>
          <% elsif safe.topic == "Daily English" %>
          <td><%= safe.topic %><a href="course/daily" target="_blank" class="btn btn-success" style="color: #fff;">Click Here</a></td>
          <% elsif safe.topic == "Role Playing" %>
          <td><%= safe.topic %><a href="course/role_play" target="_blank" class="btn btn-success" style="color: #fff;">Click Here</a></td>
          <% elsif safe.topic == "IT English" %>
          <td><%= safe.topic %><a href="course/it" target="_blank" class="btn btn-success" style="color: #fff;">Click Here</a></td>
          <% end %>
          
          <% if @id.time < 15 %>
          <td>Not enough time</td>

          <td>
          <%= link_to delete_safes_path(safe), :class => "btn btn-primary",  :style => "color: #fff;", :onclick =>"return confirm('Are you sure?')" do %>
          <i class="fa fa-trash"></i>
          </td>
          <% end %>

          <% else %>

          <td>
          <%= link_to edit_safe_path(safe), :class => "btn btn-primary" do %>
          <span style="color:#fff;"><i class="fa fa-pencil-square-o"></i><span class="hidden-xs">&nbsp;Process</span></span>
          </td>
          <% end %>

          <td>
          <%= link_to delete_safes_path(safe), :class => "btn btn-primary",  :style => "color: #fff;", :onclick =>"return confirm('Are you sure?')" do %>
          <i class="fa fa-trash"></i>
          </td>
          <% end %>
          <% end %>
          
   
        </tr>
  <% end %>
  </tbody>
</table>
</div>
</div>
</div>
<%#= paginate @safes %>

</div>