<% provide(:title, "Edit User") %>

    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
  </div>

<style>
@media only screen and (max-width: 600px) {
.pleft {
  padding-left: 10px !important;
  }
.mmobile {
  margin-top: 30px;
}
 .nopadding {
  padding: 0;
  margin-top: 0 !important;
 }
 .main-center {
  padding: 10px 10px !important;
 }
 p.small_font{
  font-size: 12px;
}
} 
.bg {
  background:url('/bg.jpg');
  font-family: 'Oxygen', sans-serif;
}
  
.main{
  margin:50px 15px;
}
hr{
  width: 10%;
  color: #fff;
}
.form-group{
  margin-bottom: 15px;
}
label{
  margin-bottom: 15px;
}
input,
input::-webkit-input-placeholder {
    font-size: 11px;
    padding-top: 3px;
}
.main-login{
  background-color: #fff;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.form-control {
    height: auto!important;
/*padding: 8px 12px !important;*/
}
.input-group {
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.21)!important;
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.21)!important;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.21)!important;
}
.main-center{
  margin-top: 30px;
/*  margin: 0 auto;
  max-width: 400px;*/
    padding: 10px 40px;
  background:#f7f8f9;
      color: #000000;
    text-shadow: none;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);
-moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);
box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);
}
span.input-group-addon i {
    color: #f7f8f9;
    font-size: 17px;
}
.login-button{
  margin-top: 5px;
}
.login-register{
  font-size: 11px;
  text-align: center;
.nomargin {
  margin: 0 !important;
  padding: 0 !important;
  }
}
.checkboxv2 input[type=checkbox]{
    position: absolute;
    margin-left: -20px;
    margin-top: -16px;
}
</style>
<div class="bg nopadding">
    <div class="container nopadding">
      <div class="row main">
        <div class="col-md-12">
        <div class="main-login main-center col-md-offset-3 col-md-6 nopadding">
        <h4 class="text-right text-center">プロフィール編集<br/><small>Edit Profile</small></h4>
        <%#= form_for(:session, url: login_path) do |f| %>
    <%= form_for @user, :url => { :action => 'update'} do |f| %>


<% if current_user.type_user == "teacher"%>


<% elsif current_user.admin == true %>



<% elsif current_user.type_user == "student"%>


            <div class="form-group">
              <label for="email" class="hidden-xs">ニックネーム</label>
                <div class="input-group">
                  <span class="input-group-addon hidden-xs"><i class="fa fa-user" style="color:#948c8c" aria-hidden="true"></i></span>
                  <%= f.email_field :name, class: 'form-control', :placeholder => 'ニックネーム', :value => current_user.name %>
                </div>
            </div>

            <div class="form-group">
              <label for="email" class="hidden-xs">メールアドレス</label>
                <div class="input-group">
                  <span class="input-group-addon hidden-xs"><i class="fa fa-envelope fa" style="color:#948c8c" aria-hidden="true"></i></span>
                  <%= f.email_field :email, class: 'form-control', :placeholder => 'メールアドレス', :value => current_user.email %>
                </div>
            </div>

            <div class="form-group">
              <label for="password" class="hidden-xs">パスワード</label>
                <div class="input-group">
                  <span class="input-group-addon hidden-xs"><i class="fa fa-lock fa-lg" style="color:#948c8c" aria-hidden="true"></i></span>
                   <%= f.password_field :password, class: 'form-control', :placeholder => 'パスワード' %>
                </div>
            </div>

            <div class="form-group">
              <label for="confirm" class="hidden-xs">確認用パスワード</label>
              <div class="cols-md-10">
                <div class="input-group">
                  <span class="input-group-addon hidden-xs"><i class="fa fa-lock fa-lg" style="color:#948c8c" aria-hidden="true"></i></span>
                  <%= f.password_field :password_confirmation, class: 'form-control', :placeholder => '確認用パスワード', :required => '' %>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="username" class="hidden-xs">スカイプID</label>
              <div class="cols-md-10">
                <div class="input-group">
                  <span class="input-group-addon hidden-xs"><i class="fa fa-skype" style="color:#948c8c" aria-hidden="true"></i></span>
                  <%= f.text_field :skype, class: 'form-control', :placeholder => 'スカイプID', :value => current_user.skype  %>
                </div>
              </div>
            </div>
            
            <div class="form-group">   
            <%= f.submit "変更する", class: "btn btn-primary btn-md", name: "edit" %>
            </div>
          </form>
        </div>

      </div>
      </div>
    </div>
<% end %>
           <!-- submit button -->



<!-- <div class="container" style="padding:0 3% 0 3% ;  font-family: ten-mincho, serif; font-style: normal; font-weight: 100;">
<h2 style=" font-family: 'Work Sans', sans-serif;" >Profile <span style="font-size:6px; font-family: ten-mincho, serif; font-style: normal; font-weight: 100;">プロフィール編集</span></h2>
<br>

<div style="width:100%;">
<div style="width:80%; margin:0 10% 0 5%;"  >
     -->
<script type="text/javascript">
  $('#micropost_picture').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('5MB以下のサイズにしてください。');
    }
  });
</script>
  <div>
    <%#= form_for(@user) do |f| %>
      <%= render 'shared/error_message', object: f.object %>

<!--先生teacher-->

<% if current_user.type_user == "teacher"%>
  <br>
  <!--   <p>性別</p>-->
      <%#= f.label :name %>
  <!--   <b style="color:red;">*</b>-->
  <!--    <%#= f.text_field :sex, class: 'form-control' %>-->
            <div class="form-group">
              <label for="name" class="hidden-xs">Name</label>
                <div class="input-group">
                  <span class="input-group-addon hidden-xs"><i class="fa fa-user" style="color:#948c8c" aria-hidden="true"></i></span>
                  <%= f.text_field :name, class: 'form-control', :placeholder => 'Name' %>
                </div>
            </div>

            <div class="form-group">
              <label for="name" class="hidden-xs">Alternative Display Name</label>
                <div class="input-group">
                  <span class="input-group-addon hidden-xs"><i class="fa fa-user" style="color:#948c8c" aria-hidden="true"></i></span>
                  <%= f.text_field :name2, class: "form-control", :placeholder => "Alternative Name to display if you don't want to use your Real Name" %>
                </div>
            </div>

            <div class="form-group">
              <label for="name" class="hidden-xs">Nick Name</label>
                <div class="input-group">
                  <span class="input-group-addon hidden-xs"><i class="fa fa-user" style="color:#948c8c" aria-hidden="true"></i></span>
                  <%= f.text_field :nick, class: 'form-control', :placeholder => 'Nickname' %>
                </div>
            </div>

            <% if current_user.display_name == 1 
              select_name1 = "selected"
              else
              select_name2 = "selected"
            end
              %>

             <div class="form-group">
              <label for="user_skill" class="hidden-xs">Choose Name to Display:</label>
                <div class="input-group">
                  <select class="form-control" name="user[display_name]">
                    <option value="1" <%= select_name1 %>><%= current_user.name %></option>
                    <option value="2" <%= select_name2 %>><%= current_user.name2 %></option>
                  </select>
              </div>
            </div>

            <div class="form-group">
              <label for="email" class="hidden-xs">Email</label>
                <div class="input-group">
                  <span class="input-group-addon hidden-xs"><i class="fa fa-envelope fa" style="color:#948c8c" aria-hidden="true"></i></span>
                  <%= f.email_field :email, class: 'form-control', :placeholder => 'Email' %>
                </div>
            </div>

            <div class="form-group">
              <label for="password" class="hidden-xs">Password</label>
                <div class="input-group">
                  <span class="input-group-addon hidden-xs"><i class="fa fa-lock fa-lg" style="color:#948c8c" aria-hidden="true"></i></span>
                   <%= f.password_field :password, class: 'form-control', :placeholder => 'Password' %>
                </div>
            </div>

            <div class="form-group">
              <label for="password_confirmation" class="hidden-xs">Confirm Password</label>
              <div class="cols-md-10">
                <div class="input-group">
                  <span class="input-group-addon hidden-xs"><i class="fa fa-lock fa-lg" style="color:#948c8c" aria-hidden="true"></i></span>
                  <%= f.password_field :password_confirmation, class: 'form-control', :placeholder => 'Confirm Password' %>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="skype" class="hidden-xs">Skype ID</label>
              <div class="cols-md-10">
                <div class="input-group">
                  <span class="input-group-addon hidden-xs"><i class="fa fa-skype" style="color:#948c8c" aria-hidden="true"></i></span>
                  <%= f.text_field :skype, class: 'form-control', :placeholder => 'Skype ID', :required => ''  %>
                </div>
              </div>
            </div>

            <% if current_user.skill == "Less than 1 year" 
              level1 = "selected"
            elsif current_user.skill == "1 - 3 years" 
              level2 = "selected"
            elsif current_user.skill == "3 - 5 years"
              level3 = "selected"
            else 
              level4 = "selected"
            end
              %>


             <div class="form-group">
              <label for="user_skill" class="hidden-xs">Skills Level / Years of Teaching</label>
                <div class="input-group">
                  <select class="form-control" name="user[skill]" required>
                    <option value="Less than 1 year" <%= level1 %>>Less than 1 year</option>
                    <option value="1 - 3 years" <%= level2 %>>1 - 3 years</option>
                    <option value="3 - 5 years" <%= level3 %>>3 - 5 years</option>
                    <option value="5 - 10 years" <%= level4 %>>5 - 10 years</option>
                  </select>
              </div>
            </div>

            <div class="form-group">
              <label for="job" class="hidden-xs">Profession</label>
              <div class="cols-md-10">
                <div class="input-group">
                  <span class="input-group-addon hidden-xs"><i class="fa fa-briefcase" style="color:#948c8c" aria-hidden="true"></i></span>
                  <%= f.text_field :job, class: 'form-control', :placeholder => 'Former Job', :required => ''  %>
                </div>
              </div>
            </div>

            <div class="form-group">
                <label for="appeal" class="control-label hidden-xs">Short Introduction About Youserlf</small></label>
                  <div class="input-group">
                    <%= f.text_area(:appeal, rows: 5, class: "form-control", placeholder: "Please discuss your specialty and what the student can learn from you if they decided to have a class", :required => '') %>
                </div>
           </div>

            <div class="form-group">
             <label for="hobby" class="hidden-xs">Hobbies</label>
              <div class="cols-md-10">
                <div class="input-group">
                  <span class="input-group-addon hidden-xs"><i class="fa fa-soccer-ball-o" style="color:#948c8c" aria-hidden="true"></i></span>
                  <%= f.text_field :hobby, class: 'form-control', :placeholder => 'Hobbies', :required => ''  %>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="country" class="hidden-xs">Country</label>
              <div class="cols-md-10">
                <div class="input-group">
                  <span class="input-group-addon hidden-xs"><i class="fa fa-flag" style="color:#948c8c" aria-hidden="true"></i></span>
                  <%= f.text_field :country, class: 'form-control', :placeholder => 'Country', :required => ''  %>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="movie" class="hidden-xs">Favorite Movie</label>
              <div class="cols-md-10">
                <div class="input-group">
                  <span class="input-group-addon hidden-xs"><i class="fa fa-film" style="color:#948c8c" aria-hidden="true"></i></span>
                  <%= f.text_field :movie, class: 'form-control', :placeholder => 'Favorite Movie', :required => ''  %>
                </div>
              </div>
            </div>

               <div class="form-group">
              <label for="photo1" class="hidden-xs">Picture</label>
                  <%= f.file_field :picture, class: 'form-control-file' %>
                  <%= f.file_field :picture2, class: 'form-control-file' %>
                  <%= f.file_field :picture3, class: 'form-control-file'  %>

                  <small id="fileHelp" class="form-text text-muted">Please add a profile picture</small>
              </div>

              <div class="form-group">
              <label for="user_youtube" class="hidden-xs">Youtube Video URL</label>
                <div class="input-group">
                  <span class="input-group-addon hidden-xs"><i class="fa fa-youtube" style="color:#948c8c" aria-hidden="true"></i></span>
                  <%= f.text_field :youtube_url, class: 'form-control', :placeholder => 'Youtube Video URL'  %>
                </div>
              </div>   

             <div class="form-group">
              <label for="gender" class="hidden-xs">Gender</label>
              <div class="cols-md-10">
                  <select class="form-control">
                    <% if current_user.sex == "male" %>
                      <option selected>Male</option>
                      <option>Female</option>
                    <% else %>
                    <option selected=>Female</option>
                    <option>Male</option>
                  </select><br/><br/>
                  <% end %>
              </div>
            </div>
             <div class="form-group">   
            <%= f.submit "Save", class: "btn btn-primary btn-md", name: "edit", :style => 'margin-top:17px;' %>
            </div>
          </form>
        </div>

      </div>
      </div>
    </div>

<% elsif current_user.admin == true %>

     <div class="form-group">
              <label for="username" class="hidden-xs">画像</label>
              <div class="cols-md-10">
                  <select class="form-control" placeholder = "Gender">
                    <option></option>
                    <option>Male</option>
                    <option>Female</option>
                  </select>
              </div>
            </div>
  
              <div class="form-group">
              <label for="email" class="hidden-xs">name(ユーザーネーム)</label>
                <div class="input-group">
                  <span class="input-group-addon hidden-xs"><i class="fa fa-user" style="color:#948c8c" aria-hidden="true"></i></span>
                  <%= f.email_field :name, class: 'form-control', :placeholder => 'ニックネーム' %>
                </div>
            </div>

            <div class="form-group">
              <label for="email" class="hidden-xs">mail (メールアドレス)</label>
                <div class="input-group">
                  <span class="input-group-addon hidden-xs"><i class="fa fa-envelope fa" style="color:#948c8c" aria-hidden="true"></i></span>
                  <%= f.email_field :email, class: 'form-control', :placeholder => 'メールアドレス' %>
                </div>
            </div>

            <div class="form-group">
              <label for="password" class="hidden-xs">password (パスワード)</label>
                <div class="input-group">
                  <span class="input-group-addon hidden-xs"><i class="fa fa-lock fa-lg" style="color:#948c8c" aria-hidden="true"></i></span>
                   <%= f.password_field :password, class: 'form-control', :placeholder => 'パスワード' %>
                </div>
            </div>

            <div class="form-group">
              <label for="confirm" class="hidden-xs">password2 (確認用パスワード)</label>
              <div class="cols-md-10">
                <div class="input-group">
                  <span class="input-group-addon hidden-xs"><i class="fa fa-lock fa-lg" style="color:#948c8c" aria-hidden="true"></i></span>
                  <%= f.password_field :password_confirmation, class: 'form-control', :placeholder => '確認用パスワード', :required => '' %>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="username" class="hidden-xs">skype-id (スカイプID)</label>
              <div class="cols-md-10">
                <div class="input-group">
                  <span class="input-group-addon hidden-xs"><i class="fa fa-skype" style="color:#948c8c" aria-hidden="true"></i></span>
                  <%= f.text_field :skype, class: 'form-control', :placeholder => 'スカイプID', :required => ''  %>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="username" class="hidden-xs">skill (スキル)</label>
              <div class="cols-md-10">
                <div class="input-group">
                  <span class="input-group-addon hidden-xs"><i class="fa fa-gear" style="color:#948c8c" aria-hidden="true"></i></span>
                  <%= f.text_field :skill, class: 'form-control', :placeholder => 'スキル', :required => ''  %>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="username" class="hidden-xs">former job (前職)</label>
              <div class="cols-md-10">
                <div class="input-group">
                  <span class="input-group-addon hidden-xs"><i class="fa fa-briefcase" style="color:#948c8c" aria-hidden="true"></i></span>
                  <%= f.text_field :job, class: 'form-control', :placeholder => '前職', :required => ''  %>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="username" class="hidden-xs">appeal (アピールポイント)</label>
              <div class="cols-md-10">
                <div class="input-group">
                  <span class="input-group-addon hidden-xs"><i class="fa fa-quote-left" style="color:#948c8c" aria-hidden="true"></i></span>
                  <%= f.text_field :appeal, class: 'form-control', :placeholder => 'アピールポイント', :required => ''  %>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="username" class="hidden-xs">hobby (趣味)</label>
              <div class="cols-md-10">
                <div class="input-group">
                  <span class="input-group-addon hidden-xs"><i class="fa fa-soccer-ball-o" style="color:#948c8c" aria-hidden="true"></i></span>
                  <%= f.text_field :hobby, class: 'form-control', :placeholder => '趣味', :required => ''  %>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="username" class="hidden-xs">country (国籍)</label>
              <div class="cols-md-10">
                <div class="input-group">
                  <span class="input-group-addon hidden-xs"><i class="fa fa-flag" style="color:#948c8c" aria-hidden="true"></i></span>
                  <%= f.text_field :country, class: 'form-control', :placeholder => '国籍', :required => ''  %>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="username" class="hidden-xs">favorite movie (好きな映画)</label>
              <div class="cols-md-10">
                <div class="input-group">
                  <span class="input-group-addon hidden-xs"><i class="fa fa-film" style="color:#948c8c" aria-hidden="true"></i></span>
                  <%= f.text_field :movie, class: 'form-control', :placeholder => '好きな映画', :required => ''  %>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="username" class="hidden-xs">画像</label>
              <div class="cols-md-10">
                  <%= f.file_field :image, class: 'form-control-file',  :required => ''  %>
                  <small id="fileHelp" class="form-text text-muted">写真をアップロードしてください。</small>
              </div>
            </div>


<% end %>

<% if current_user.admin == true %>
              <label><p class="small_font">admin(管理者権限)</p>
              <%= f.check_box :admin, :class => 'checkbox inline' %></label>
             <div class="form-group">   
            <%= f.submit "変更する", class: "btn btn-primary btn-md", name: "edit" %>
            </div>
          </form>
        </div>

      </div>
      </div>
    </div>
<% end %>

<% end %>
 </div>
   <div style="clear: both;"> </div>
 </div>
 </div>
 <%# end %>
