<% provide(:title, "Edit User") %>

    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
  </div>

<style>
@media only screen and (max-width: 600px) {
.pleft {
  padding-left: 10px !important;
  }
.mmobile {
  margin-top: 30px;
}
 .nopadding {
  padding: 0;
  margin-top: 0 !important;
 }
 .main-center {
  padding: 10px 10px !important;
 }
} 
.bg {
  background:url('/bg.jpg');
  font-family: 'Oxygen', sans-serif;
}
  
.main{
  margin:50px 15px;
}
hr{
  width: 10%;
  color: #fff;
}
.form-group{
  margin-bottom: 15px;
}
label{
  margin-bottom: 15px;
}
input,
input::-webkit-input-placeholder {
    font-size: 11px;
    padding-top: 3px;
}
.main-login{
  background-color: #fff;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.form-control {
    height: auto!important;
/*padding: 8px 12px !important;*/
}
.input-group {
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.21)!important;
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.21)!important;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.21)!important;
}
.main-center{
  margin-top: 30px;
/*  margin: 0 auto;
  max-width: 400px;*/
    padding: 10px 40px;
  background:#f7f8f9;
      color: #000000;
    text-shadow: none;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);
-moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);
box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);
}
span.input-group-addon i {
    color: #f7f8f9;
    font-size: 17px;
}
.login-button{
  margin-top: 5px;
}
.login-register{
  font-size: 11px;
  text-align: center;
.nomargin {
  margin: 0 !important;
  padding: 0 !important;
  }
}
</style>
<div class="bg nopadding">
    <div class="container nopadding">
      <div class="row main">
        <div class="col-md-12">
        <div class="main-login main-center col-md-offset-3 col-md-6 nopadding">
        <h4 class="text-right text-center">プロフィール編集</h4>
        <%= form_for(:session, url: login_path) do |f| %>


<% if current_user.type_user == "teacher"%>


<% elsif current_user.admin == true %>



<% elsif current_user.type_user == "student"%>


            <div class="form-group mmobile">
              <label for="email" class="hidden-xs">ニックネーム</label>
                <div class="input-group">
                  <span class="input-group-addon hidden-xs"><i class="fa fa-user" style="color:#948c8c" aria-hidden="true"></i></span>
                  <%= f.email_field :name, class: 'form-control', :placeholder => 'ニックネーム' %>
                </div>
            </div>

            <div class="form-group mmobile">
              <label for="email" class="hidden-xs">メールアドレス</label>
                <div class="input-group">
                  <span class="input-group-addon hidden-xs"><i class="fa fa-envelope fa" style="color:#948c8c" aria-hidden="true"></i></span>
                  <%= f.email_field :email, class: 'form-control', :placeholder => 'メールアドレス' %>
                </div>
            </div>

            <div class="form-group">
              <label for="password" class="hidden-xs">パスワード</label>
                <div class="input-group">
                  <span class="input-group-addon hidden-xs"><i class="fa fa-lock fa-lg" style="color:#948c8c" aria-hidden="true"></i></span>
                   <%= f.password_field :password, class: 'form-control', :placeholder => 'パスワード' %>
                </div>
            </div>

            <div class="form-group">
              <label for="confirm" class="cols-md-2 control-label">確認用パスワード</label>
              <div class="cols-md-10">
                <div class="input-group">
                  <span class="input-group-addon hidden-xs"><i class="fa fa-lock fa-lg" style="color:#948c8c" aria-hidden="true"></i></span>
                  <%= f.password_field :password_confirmation, class: 'form-control', :placeholder => '確認用パスワード', :required => '' %>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="username" class="cols-md-2 control-label">スカイプID</label>
              <div class="cols-md-10">
                <div class="input-group">
                  <span class="input-group-addon hidden-xs"><i class="fa fa-skype" style="color:#948c8c" aria-hidden="true"></i></span>
                  <%= f.text_field :skype, class: 'form-control', :placeholder => 'スカイプID', :required => ''  %>
                </div>
              </div>
            </div>
           <!-- submit button -->

            <div class="form-group">   
            <%= f.submit "変更する", class: "btn btn-primary btn-md", name: "edit" %>
            </div>
            
          </form>
        </div>

      </div>
      </div>
    </div>


<% end %>

<!-- <div class="container" style="padding:0 3% 0 3% ;  font-family: ten-mincho, serif; font-style: normal; font-weight: 100;">
<h2 style=" font-family: 'Work Sans', sans-serif;" >Profile <span style="font-size:6px; font-family: ten-mincho, serif; font-style: normal; font-weight: 100;">プロフィール編集</span></h2>
<br>

<div style="width:100%;">
<div style="width:80%; margin:0 10% 0 5%;"  >
     -->
<script type="text/javascript">
  $('#micropost_picture').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('5MB以下のサイズにしてください。');
    }
  });
</script>
  <div>
    <%#= form_for(@user) do |f| %>
    <%= form_for @user,:url => {:action => 'update'}, :html => {:multipart => true} do |f| %>
      <%= render 'shared/error_message', object: f.object %>





<!--先生teacher-->

<% if current_user.type_user == "teacher"%>
  <br>
  <!--   <p>性別</p>-->
      <%#= f.label :name %>
  <!--   <b style="color:red;">*</b>-->
  <!--    <%#= f.text_field :sex, class: 'form-control' %>-->
            <div class="form-group mmobile">
              <label for="email" class="hidden-xs">ニックネーム</label>
                <div class="input-group">
                  <span class="input-group-addon hidden-xs"><i class="fa fa-user" style="color:#948c8c" aria-hidden="true"></i></span>
                  <%= f.email_field :name, class: 'form-control', :placeholder => 'ニックネーム' %>
                </div>
            </div>

            <div class="form-group mmobile">
              <label for="email" class="hidden-xs">メールアドレス</label>
                <div class="input-group">
                  <span class="input-group-addon hidden-xs"><i class="fa fa-envelope fa" style="color:#948c8c" aria-hidden="true"></i></span>
                  <%= f.email_field :email, class: 'form-control', :placeholder => 'メールアドレス' %>
                </div>
            </div>

            <div class="form-group">
              <label for="password" class="hidden-xs">パスワード</label>
                <div class="input-group">
                  <span class="input-group-addon hidden-xs"><i class="fa fa-lock fa-lg" style="color:#948c8c" aria-hidden="true"></i></span>
                   <%= f.password_field :password, class: 'form-control', :placeholder => 'パスワード' %>
                </div>
            </div>

            <div class="form-group">
              <label for="confirm" class="hidden-xs">確認用パスワード</label>
              <div class="cols-md-10">
                <div class="input-group">
                  <span class="input-group-addon hidden-xs"><i class="fa fa-lock fa-lg" style="color:#948c8c" aria-hidden="true"></i></span>
                  <%= f.password_field :password_confirmation, class: 'form-control', :placeholder => '確認用パスワード', :required => '' %>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="username" class="hidden-xs">スカイプID</label>
              <div class="cols-md-10">
                <div class="input-group">
                  <span class="input-group-addon hidden-xs"><i class="fa fa-skype" style="color:#948c8c" aria-hidden="true"></i></span>
                  <%= f.text_field :skype, class: 'form-control', :placeholder => 'スカイプID', :required => ''  %>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="username" class="hidden-xs">スキル</label>
              <div class="cols-md-10">
                <div class="input-group">
                  <span class="input-group-addon hidden-xs"><i class="fa fa-gear" style="color:#948c8c" aria-hidden="true"></i></span>
                  <%= f.text_field :skill, class: 'form-control', :placeholder => 'スキル', :required => ''  %>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="username" class="hidden-xs">ジョブ</label>
              <div class="cols-md-10">
                <div class="input-group">
                  <span class="input-group-addon hidden-xs"><i class="fa fa-briefcase" style="color:#948c8c" aria-hidden="true"></i></span>
                  <%= f.text_field :job, class: 'form-control', :placeholder => 'ジョブ', :required => ''  %>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="username" class="hidden-xs">アピール</label>
              <div class="cols-md-10">
                <div class="input-group">
                  <span class="input-group-addon hidden-xs"><i class="fa fa-quote-left" style="color:#948c8c" aria-hidden="true"></i></span>
                  <%= f.text_field :appeal, class: 'form-control', :placeholder => 'アピール', :required => ''  %>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="username" class="hidden-xs">趣味</label>
              <div class="cols-md-10">
                <div class="input-group">
                  <span class="input-group-addon hidden-xs"><i class="fa fa-soccer-ball-o" style="color:#948c8c" aria-hidden="true"></i></span>
                  <%= f.text_field :hobby, class: 'form-control', :placeholder => '趣味', :required => ''  %>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="username" class="hidden-xs">国</label>
              <div class="cols-md-10">
                <div class="input-group">
                  <span class="input-group-addon hidden-xs"><i class="fa fa-flag" style="color:#948c8c" aria-hidden="true"></i></span>
                  <%= f.text_field :country, class: 'form-control', :placeholder => '国', :required => ''  %>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="username" class="hidden-xs">映画</label>
              <div class="cols-md-10">
                <div class="input-group">
                  <span class="input-group-addon hidden-xs"><i class="fa fa-film" style="color:#948c8c" aria-hidden="true"></i></span>
                  <%= f.text_field :movie, class: 'form-control', :placeholder => '映画', :required => ''  %>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="username" class="hidden-xs">画像</label>
              <div class="cols-md-10">
                  <%= f.file_field :image, class: 'form-control-file',  :required => ''  %>
                  <small id="fileHelp" class="form-text text-muted">写真をアップロードしてください。</small>
              </div>
            </div>

             <div class="form-group">
              <label for="username" class="hidden-xs">画像</label>
              <div class="cols-md-10">
                  <select class="form-control">
                    <option></option>
                    <option>Male</option>
                    <option>Female</option>
                  </select>
              </div>
            </div>
            

<% elsif current_user.admin == true %>

     <p>性別</p>
      <%#= f.label :name %>
      <%= f.text_field :sex, class: 'form-control' %>
  
  <br>
     <p>name(ユーザーネーム)</p>
      <%#= f.label :name %>
     <b style="color:red;">*</b>
      <%= f.text_field :name, class: 'form-control',:readonly => true %>
  <br>
     <p>mail (メールアドレス) <p>
      <%#= f.label :email %>
     <b style="color:red;">*</b>
      <%= f.email_field :email, class: 'form-control' %>
  <br>
     <p>password (パスワード) <p>
      <%#= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>
<!-- -- --> 
  <br>
     <p>password2 (確認用パスワード) <p>
      <%#= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>
<!-- -- --> 
  <br>
     <p>skype-id (スカイプID) <p>
      <%#= f.label :email %>
     <b style="color:red;">*</b>
      <%= f.text_field :skype, class: 'form-control' %>
  <br>
     <p>user-type (ユーザータイプ) <p>
      <%#= f.label :email %>
     <b style="color:red;">*</b>
      <%= f.text_field :type_user, class: 'form-control' %>
  <br>
     <p>skill (スキル) <p>
      <%#= f.label :email %>
     <b style="color:red;">*</b>
      <%= f.text_field :skill, class: 'form-control' %>
  <br>
     <p>former job (前職) <p>
      <%#= f.label :email %>
     <b style="color:red;">*</b>
      <%= f.text_field :job, class: 'form-control' %>
  <br>
     <p>appeal (アピールポイント) <p>
      <%#= f.label :email %>
     <b style="color:red;">*</b>
      <%= f.text_field :appeal, class: 'form-control' %>
  <br>
     <p>hobby (趣味) <p>
      <%#= f.label :email %>
     <b style="color:red;">*</b>
      <%= f.text_field :hobby, class: 'form-control' %>
  <br>
     <p>country (国籍) <p>
      <%#= f.label :email %>
     <b style="color:red;">*</b>
      <%= f.text_field :country, class: 'form-control' %>
  <br>
     <p>favorite movie (好きな映画) <p>
      <%#= f.label :email %>
     <b style="color:red;">*</b>
      <%= f.text_field :movie, class: 'form-control' %>
  <br>
     <p>are you busy now? (忙しい？) <p>
      <%#= f.label :email %>
     <b style="color:red;">*</b>
      <%= f.text_field :busy, class: 'form-control' %>
  <br>
<%=f.label :image," Image" %>
     <b style="color:red;">*</b>
  <br>
<img src="<%= @user.image %>" alt="img25" width="150"/>
  <br>
      <%= f.file_field :image %>
  <br>

<% end %>











<% if current_user.admin == true %>
<p>admin(管理者権限)</p>
<%= f.check_box :admin %>
<% end %>


