<% provide(:title, "Thank you for choosing!!") %>

<style>

.small-icons{
         width: 75px;
 }
 @media (max-width: 768px) {
      .btn {
              width: 100% important;
       } 
    }

@media (max-width: 420px) {
      .small_font {

            font-size: 17px;
      }

      .small-icons{
            width: 40px;
      }
      p.small-topic-text{
            font-size: 10px;
      }
    }

</style>

<div class="container text-center">


      <h2 style="font-family: 'Work Sans', sans-serif;" class="small_font">ハロー！<strong>Teacher <%= @user.nick %></strong> です！. <br>私を選んでくれてありがとう！</h2>
      <hr>

<div class="col-md-6">

<img src="<%= @user.picture %>" class="img-responsive img-thumbnail" style="width:80%;">
<h2>Teacher <%= @user.nick %></h2>

</div>

<div class="col-md-6">
<p>If you're not ready to call. You can Chat / Message Teacher <%= @user.nick %> first.</p>
<span class="skype-button rounded" data-contact-id="<%= @user.skype %>" data-text="Chat Me" style="color: #fff;"></span>
<script src="https://swc.cdn.skype.com/sdk/v1/sdk.min.js"></script>

<p style="margin-top: 30px;">オンライン英会話を受講するためにはスカイプのダウンロードが必須です。<a href="https://www.skype.com/ja/get-skype/" target="_blank" style="color:red;">ダウンロードはこちら</a></p>

<a href="skype:<%= @user.skype %>?call" class="btn btn-lg btn-danger" style="color:#fff;"><i class="fa fa-skype"></i> 今すぐ通話</a>

<h4>先生のスカイプID: <%= @user.skype %></h4>

<p>先生が通話に応答しない場合は？</p>
<button onclick="return confirm('Are you sure you want to report the Teacher?')">こちらから報告ください</button>

<div class="col-md-offset-3 col-md-6 col-xs-12">
<a type="button" class="btn" style="color: #000; width: 100%; margin-top: 30px;" href="/"><i class='fa fa-mail-reply'></i> 戻る</a>

</div>

</div>

</div>

<div style="clear: both; height:100px;"> </div>