<% provide(:title, "Thank you for choosing!!") %>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style>

.small-icons{
         width: 75px;
 }
 @media (max-width: 768px) {
      .btn {
              width: 100% important;
       } 
    }

@media (max-width: 420px) {
      .small_font {

            font-size: 17px;
      }

      .small-icons{
            width: 40px;
      }
      p.small-topic-text{
            font-size: 10px;
      }
    }

</style>

<div class="container text-center">


      <h2 style="font-family: 'Work Sans', sans-serif;" class="small_font">ハロー！<strong>Teacher <%= @user.nick %></strong> です！. <br>私を選んでくれてありがとう！</h2>
      <hr>

<div class="col-md-6">

<img src="<%= @user.picture %>" class="img-responsive img-thumbnail" style="width:80%;">
<h2>Teacher <%= @user.nick %></h2>

</div>

<div class="col-md-6" style="margin-bottom: 30px;">

<div class="col-md-12">
<% if @current_user.skype.nil? || @current_user.skype.empty? %>

<p><strong>Hi, we noticed that you don't have a Skype ID saved in Timee</strong></p>

<p>Before you can start a class, you need to update your Skype ID. If you don't have a Skype ID, you can sign up for free by <a href="#" onclick="window.open('https://www.skype.com/ja/');return false;" style="color:red">clicking this link</a> or https://www.skype.com/ja/</p>
<%= form_for(@current_user) do |f| %>
       <div class="form-group">
              <label for="skype" class="cols-md-2 control-label hidden-xs">Skype ID<small style="color: red">*</small></label>
              <div class="cols-md-10">
                <div class="input-group">
                  <span class="input-group-addon hidden-xs"><i class="fa fa-skype" style="color:#948c8c" aria-hidden="true"></i></span>
                   <% f.hidden_field :current_user_id, :value => @current_user.id %>
                   <%= f.text_field :skype, class: 'form-control', :placeholder => 'Skype ID' %>
                </div>
              </div>
            </div>

      <div class="form-group">
            <%= f.submit "Submit", class: "btn btn-default btn-lg", name: "skype_update", :value => "Submit" %>
            </div>
<% end %>
<% else %>

</div>



    <div class="col-md-6">
        <p>日時を指定して先生と英会話できます。</p>
        <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#schedule"><i class="glyphicon glyphicon-comment"></i> &nbsp 申し込む</button>
    </div>

    <div class="col-md-6">
        <p>まだ準備ができていませんか？まずはチャットで連絡してみましょう</p>
        <span class="skype-button rounded" data-contact-id="<%= @user.skype %>" data-text="チャットする" style="color: #fff;"></span>
        <script src="https://swc.cdn.skype.com/sdk/v1/sdk.min.js"></script>  
    </div>
</div>


<p>オンライン英会話を受講するためにはスカイプのダウンロードが必須です。<a href="https://www.skype.com/ja/get-skype/" target="_blank" style="color:red;">ダウンロードはこちら</a></p>

<a href="skype:<%= @user.skype %>?call" class="btn btn-lg btn-danger" style="color:#fff;"><i class="fa fa-skype"></i> 今すぐ通話</a>

<h4>先生のスカイプID: <%= @user.skype %></h4>

<p>先生が通話に応答しない場合は？</p>
<%= link_to report_teacher_path(@user) do %>
<button onclick="return confirm('Are you sure you want to report the Teacher?')">こちらから報告ください</button>
<% end %>
</div>
<div class="col-md-offset-3 col-md-6 col-xs-12">
<a type="button" class="btn" style="color: #000; width: 100%; margin-top: 30px;" href="/"><i class='fa fa-mail-reply'></i> 戻る</a>

</div>
<div class="modal fade" id="schedule" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content" style="color: #000;">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title text-center"><strong>Schedule a Callback</strong></h4>
        </div>
        <div class="modal-body" style="text-align: left;">
              <div class="form-group">
                    <label for="datetime" >Date and Time</label>
                      <input type="datetime-local" class="form-control"
                      id="datetime" />
                </div>

              <div class="form-group">
                  <label for="notes">Message: </label>
                  <textarea class="form-control" rows="5" id="notes" ></textarea>
              </div>

              <div class="form-group">
                <input type="submit" class="btn btn-primary btn-sm" value="Send">
              </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    
    </div>
  </div>

</div>
<% end %>
<script>
<!--
if (window.name != "xsyz")
{
// document.write("読み込み中です。しばらくお待ちください。")
setTimeout("location.reload()",3000);
window.name = "xsyz";
}

//-->
</script>
</div>
</div>
<div style="clear: both; height:100px;"> </div>