<% provide(:title,"ユーザー一覧") %>

<%     session.delete(:fowarding_url)
    store_location
    %>
    
    
<div class="container">


<h3>All User</h3>

<%= link_to "<i class='fa fa-user-circle-o'></i> 生徒を追加する(Add Student)".html_safe, new_user_path, class: "btn btn-success", style: "margin-bottom: 20px; color:#fff;" %>
<%= link_to "<i class='fa fa-user-circle-o'></i> 先生を追加する(Add Teacher)".html_safe, new3_user_path, class: "btn btn-success", style: "margin-bottom: 20px; color:#fff;" %>



<%= link_to "全部(All)".html_safe, users_path, class: "btn btn-primary", style: "margin-bottom: 20px; color:#fff;" %>
<%= link_to "先生(Teacher)".html_safe, index2_user_url, class: "btn btn-primary", style: "margin-bottom: 20px; color:#fff;" %>
<%= link_to "生徒(Student)".html_safe, index3_user_url, class: "btn btn-primary", style: "margin-bottom: 20px; color:#fff;" %>

<%= link_to "未承認の先生(Unapproved teacher)".html_safe, index4_user_url, class: "btn btn-danger", style: "margin-bottom: 20px; color:#fff;" %>

<table class="table table-bordered table-hover">

<thead>

  <th class="col-md-2" style="font-size:8px;">名前(name)</th>
  <th class="col-md-3" style="font-size:8px;">メール(mail)</th> 
  <th class="col-md-2" style="font-size:8px;">権限(auth)</th>
  <th class="col-md-2" style="font-size:8px;">ロール(roll)</th>
  
  <th class="col-md-2" style="font-size:8px;">busy</th>
  <th class="col-md-2" style="font-size:8px;">所持時間(time)</th>
  
  <th class="col-md-2" style="font-size:8px;">累計授業数(total class)</th>
  <th class="col-md-2" style="font-size:8px;">累計授業時間(total time)</th>
  
  
  <th colspan="2" class="col-md-4 text-center">Actions</th>

</thead>

<tbody>
<% @users.each do |user| %>
<tr>
  <td><%= link_to user.name, edit_user_path(user) %></td>
  <td><%= user.email %></td>

  
  
 <% if user.admin? %>
  <td>管理(admin)</td>
 <% else %>
  <td>一般(nomal)</td>
<% end %>

 <% if user.type_user == "teacher" %>
  <td>先生(teacher)</td>
 <% elsif user.type_user == "student" %>
  <td>生徒(student)</td>
 <% else %>
  <td></td>
<% end %>

 <% if user.busy == "busy" %>
  <td>Busy</td>
 <% else %>
  <td>レッスン可能(Available)</td>
<% end %>

  <td><%= user.time %> 分</td>
  
  

 <% @totalsafes = Safe.where(:teacher => user.name ).paginate(page: params[:page]) %>
 <% @totalsafes2 = Safe.where(:student => user.name ).paginate(page: params[:page]) %>
 
 <% if user.type_user == "teacher" %>
  　<td><%= @totalsafes.count %> 回(times)</td>
  　<td><%= @totalsafes.sum(:time) %> 分(mins)</td>
 <% elsif user.type_user == "student" %>
  　<td><%= @totalsafes2.count %> 回(times)</td>
  　<td><%= @totalsafes2.sum(:time) %> 分(mins)</td>
 <% else %>
  　<td> </td>
  　<td> </td>
  <% end %>
  　
 
  <td class="text-center"><%= link_to "<i class='fa fa-pencil'></i>".html_safe, edit_user_path(user), class: "btn btn-success", :style =>" color:#fff;" %></td>

  <td class="text-center"><%= link_to "<i class='fa fa-trash-o'></i>".html_safe , user ,method: :delete, data: { confirm: "本当にこのユーザーを削除しますか？" }, class: "btn btn-success", :style =>" color:#fff;" %></td>

</tr>

<% end %>
</tbody>

  
</table>
</div>
</div>
