<% provide(:title,"ユーザー一覧") %>

<%     session.delete(:fowarding_url)
    store_location
    %>
    
    
<div class="container">


<h3>All User</h3>

<%= link_to "<i class='fa fa-user-circle-o'></i> 生徒を追加する(Add Student)".html_safe, new_user_path, class: "btn btn-success", style: "margin-bottom: 20px; color:#fff;" %>
<%= link_to "<i class='fa fa-user-circle-o'></i> 先生を追加する(Add Teacher)".html_safe, new3_user_path, class: "btn btn-success", style: "margin-bottom: 20px; color:#fff;" %>



<%= link_to "全部(All)".html_safe, users_path, class: "btn btn-primary", style: "margin-bottom: 20px; color:#fff;" %>
<%= link_to "先生(Teacher)".html_safe, index2_user_url, class: "btn btn-primary", style: "margin-bottom: 20px; color:#fff;" %>
<%= link_to "生徒(Student)".html_safe, index3_user_url, class: "btn btn-primary", style: "margin-bottom: 20px; color:#fff;" %>

<%= link_to "未承認の先生(Unapproved teacher)".html_safe, index4_user_url, class: "btn btn-danger", style: "margin-bottom: 20px; color:#fff;" %>

<table class="table table-bordered table-hover">

<thead>

  <th class="col-md-2">名前(name)</th>
  <th class="col-md-3">メール(mail)</th> 
  <th class="col-md-2">所持時間(time)</th>
  <th class="col-md-2">累計授業数(total class)</th>
  <th class="col-md-2">累計授業時間(total time)</th>
  <th class="col-md-2">Last Seen</th>
  <th class="col-md-2">Source</th>
  <th colspan="3" class="col-md-3 text-center">Actions</th>

</thead>

<tbody>
<% @users.each do |user| %>
<tr>
  <td><%= link_to user.name, edit_user_path(user) %></td>
  <td><%= user.email %></td>
  <td><%= user.time %> 分</td>

 <% @totalsafes = Safe.where(:teacher => user.name ).paginate(page: params[:page]) %>
 <% @totalsafes2 = Safe.where(:student => user.name ).paginate(page: params[:page]) %>
 
 <% if user.type_user == "teacher" %>
  　<td><%= @totalsafes.count %> 回(times)</td>
  　<td><%= @totalsafes.sum(:time) %> 分(mins)</td>
 <% elsif user.type_user == "student" %>
  　<td><%= @totalsafes2.count %> 回(times)</td>
  　<td><%= @totalsafes2.sum(:time) %> 分(mins)</td>
 <% else %>
  　<td> </td>
  　<td> </td>
  <% end %>
  　
 <td><%= user.last_seen_at %></td>
 <td><%= user.referral_id %></td>

  <td class="text-center"><%= link_to "<i class='fa fa-pencil'></i>".html_safe, edit_user_path(user), class: "btn btn-success", :style =>" color:#fff;" %></td>

  <td class="text-center"><%= link_to "<i class='fa fa-trash-o'></i>".html_safe , user ,method: :delete, data: { confirm: "本当にこのユーザーを削除しますか？" }, class: "btn btn-success", :style =>" color:#fff;" %></td>

  <td class="text-center"><button class="btn btn-success"><i class="fa fa-envelope"></i></button></td>

</tr>

<% end %>
</tbody>

  
</table>
</div>
</div>
