<% provide(:title, "新規会員登録") %>

    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
  </div>

<div class="col-md-offset-1 col-md-6">
  <img src="timee-logo.jpg" class="img img-responsive" style="width: 100px">
</div>

<style>

@media only screen and (max-width: 600px) {

.pleft {
  padding-left: 10px !important;
  }

.mmobile {
  margin-top: 30px;
}

 .nopadding {
  padding: 0;
  margin-top: 0 !important;

 }

 .main-center {
  padding: 10px 10px !important;
 }
} 

.bg {
  background:url('/bg.jpg');
  font-family: 'Oxygen', sans-serif;

}
  
.main{
  margin:50px 15px;
}

hr{
  width: 10%;
  color: #fff;
}

.form-group{
  margin-bottom: 15px;
}

label{
  margin-bottom: 15px;
}

input,
input::-webkit-input-placeholder {
    font-size: 11px;
    padding-top: 3px;
}

.main-login{
  background-color: #fff;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);

}
.form-control {
    height: auto!important;
/*padding: 8px 12px !important;*/
}
.input-group {
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.21)!important;
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.21)!important;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.21)!important;
}

.main-center{
  margin-top: 30px;
/*  margin: 0 auto;
  max-width: 400px;*/
    padding: 10px 40px;

  background:#009edf;
      color: #FFF;
    text-shadow: none;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);
-moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);
box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);

}
span.input-group-addon i {
    color: #009edf;
    font-size: 17px;
}

.login-button{
  margin-top: 5px;
}

.login-register{
  font-size: 11px;
  text-align: center;

.nomargin {
  margin: 0 !important;
  padding: 0 !important;
  }
}

</style>

<div class="bg nopadding">
    <div class="container nopadding">
      <div class="row main">
        <div class="col-md-12">
        <div class="main-login main-center col-md-offset-3 col-md-6">
        <h2 class="text-center hidden-xs">新規会員登録</h2>
        <h3 class="text-center hidden-md hidden-sm hidden-lg">新規会員登録</h3>
        <%= form_for(@user) do |f| %>
            
            <div class="form-group">
              <label for="name" class="cols-md-2 control-label">ニックネーム</label>
              <div class="cols-md-10">
                <div class="input-group">
                  <span class="input-group-addon hidden-xs"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                   <%= f.text_field :name, class: 'form-control', :placeholder => 'ニックネーム' %>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="email" class="cols-md-2 control-label">メールアドレス</label>
              <div class="cols-md-10">
                <div class="input-group">
                  <span class="input-group-addon hidden-xs"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                  <%= f.email_field :email, class: 'form-control', :placeholder => 'メールアドレス' %>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="username" class="cols-md-2 control-label">スカイプID</label>
              <div class="cols-md-10">
                <div class="input-group">
                  <span class="input-group-addon hidden-xs"><i class="fa fa-skype" aria-hidden="true"></i></span>
                  <%= f.text_field :skype, class: 'form-control', :placeholder => 'スカイプID' %>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="password" class="cols-md-2 control-label">パスワード</label>
              <div class="cols-md-10">
                <div class="input-group">
                  <span class="input-group-addon hidden-xs"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                   <%= f.password_field :password, class: 'form-control', :placeholder => 'パスワード' %>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="confirm" class="cols-md-2 control-label">確認用パスワード</label>
              <div class="cols-md-10">
                <div class="input-group">
                  <span class="input-group-addon hidden-xs"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                  <%= f.password_field :password_confirmation, class: 'form-control', :placeholder => '確認用パスワード' %>
                </div>
              </div>
            </div>

            <%= f.hidden_field :time, :value => 30 %>
            <%= f.hidden_field :type_user, :value => "student" %>

            <div class="form-group">
            <%= f.submit "登録する", class: "btn btn-primary btn-block btn-lg", name: "new", :value => "登録する" %>
            </div>
            
          </form>
        </div>

<!--         <div class="col-md-offset-1 col-md-6">

        <img src="main.jpg" class="img img-thumbnail" style="margin-top: 150px;">

        </div> -->
      </div>
      </div>
    </div>

</div>

<% end %>

  </div>
</div>