<% provide(:title, "New Teacher") %>
<div class="container">
 
 <h3>Application form for New Teacher</h3>
  <div class="col-md-6">
   
   
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_message', object: f.object %>

   <br>

     <p>Name</p>
      <%#= f.label :name %>
     <b style="color:red;">*</b>
      <%= f.text_field :name, class: 'form-control' %>
  <br>
     <p>Mail<p>
      <%#= f.label :email %>
     <b style="color:red;">*</b>
      <%= f.email_field :email, class: 'form-control' %>
  <br>
     <p>Password<p>
     <b style="color:red;">*</b>
      <%= f.password_field :password, class: 'form-control' %>
<!-- -- --> 
  <br>
     <p>password confirmation<p>
     <b style="color:red;">*</b>
      <%= f.password_field :password_confirmation, class: 'form-control' %>
<!-- -- --> 
  <br>
     <p>Skype-ID<p>
      <%#= f.label :email %>
     <b style="color:red;">*</b>
      <%= f.text_field :skype, class: 'form-control' %>
  <br>
     <%= f.hidden_field :type_user, :value => "teacher"%>
  <br>
     <p>Skill<p>
      <%#= f.label :email %>
     <b style="color:red;">*</b>
      <%= f.text_field :skill, class: 'form-control' %>
  <br>
     <p>Former job<p>
      <%#= f.label :email %>
     <b style="color:red;">*</b>
      <%= f.text_field :job, class: 'form-control' %>
  <br>
     <p>Appeal<p>
      <%#= f.label :email %>
     <b style="color:red;">*</b>
      <%= f.text_field :appeal, class: 'form-control' %>
  <br>
     <p>Hobby<p>
      <%#= f.label :email %>
      <%= f.text_field :hobby, class: 'form-control' %>
  <br>
     <p>Country<p>
      <%#= f.label :email %>
      <%= f.text_field :country, class: 'form-control' %>
  <br>
     <p>Favorite movie<p>
      <%#= f.label :email %>
      <%= f.text_field :movie, class: 'form-control' %>
  <br>
<%=f.label :image," Photo" %>
     <b style="color:red;">*</b>
  <br>
<img src="<%= @user.image %>" width="150"/>
  <br>
      <%= f.file_field :image %>
  <br>



<%= f.hidden_field :busy, :value => "busy" %>
<%= f.hidden_field :time, :value => 0 %>
<%= f.hidden_field :type_user, :value => "not-yet-teacher" %>

      <%= f.submit "Submit", class: "btn btn-primary", name: "new2" %>
    <% end %>
    
    
  </div>
</div>