<% provide(:title, "先生の詳細") %>

  <div class="">

      <center>
      <div style="width:100%; margin:0 10% 0 10%;">


    <%= form_for(@user) do |f| %>
    
    <%= @user.time %><%= @user.addtime %>
    
      <div style="position:relative; float:left; width:50%;">
      <img src="<%= @user.image %>" class="himg" style="width:400px; height:300px; object-fit: cover;">
      

      </div>
      
      
      <div style="position:relative; float:right; width:50%;">
        <div style="position:relative; float:left;">
      <p style="font-size:50px; 
      font-family: 'Quicksand', sans-serif;
      font-family: 'Work Sans', sans-serif;
      color: rgba(70,40,84,1);"><%= @user.name %></p>
      <br>
      <p style="font-size:10px; color: rgba(70,40,84,1);">
      Nationality：<%= @user.country %><br><br>
      Skill：<%= @user.skill %><br><br>
      Hobby：<%= @user.hobby %><br><br>
      Former Job：<%= @user.job %><br>
      </p>
      <hr>
       <%= f.hidden_field :busy, :value => "no"%>
       
       <%= f.submit "→　今すぐ英会話", :style => "" %>
    <% end %>
    </div>
      </div>
      
      
      </div>
      </center>

</div>

<div style="clear: both; height:100px;"> </div>