<% provide(:title, "先生の詳細") %>

<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.10.0/css/lightbox.min.css">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.10.0/js/lightbox.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.10.0/js/lightbox-plus-jquery.min.js"></script>

<style>

 @media (max-width: 768px) {
      .text-xs-center {
              text-align: center;
       } 
    }

</style>

  <div class="container">

    <%= form_for(@user) do |f| %>    

      <div class="col-md-6"><br/>
        <div class="row">
          <div class="col-md-12">
            <% if @user.youtube_url.present? %>
            <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="<%= @user.picture %>" allowfullscreen></iframe>
            </div>
            <% else %>
            <a href="#">
              <img src="<%= @user.picture %>" style="width:100%">
            </a>
            <% end %>
            </div>
        </div>

      <div class="col-md-12 hidden-xs hidden-sm" style="margin-top: 20px;">
        <div class="col-md-4">
          <div class="thumbnail" style="box-shadow: 5px 10px #ccc;">
            <% if @user.picture.present? %>
            <a href="<%= @user.picture %>" data-lightbox="gallery">
              <img src="<%= @user.picture %>" style="height:100px;">
            </a>
            <% else %>
            <img src="../../no_image.png" style="width:100%">
            <% end %>
          </div>
        </div>
        <div class="col-md-4 ">
          <div class="thumbnail" style="box-shadow: 5px 10px #ccc;">
            <% if @user.picture2.present? %>
            <a href="<%= @user.picture2 %>" data-lightbox="gallery">
              <img src="<%= @user.picture2 %>" style="height:100px;">
            </a>
            <% else %>
            <img src="../../no_image.png" style="width:100px">
            <% end %>            
          </div>
        </div>
        <div class="col-md-4">
          <div class="thumbnail" style="box-shadow: 5px 10px #ccc;">
            <% if @user.picture3.present? %>
            <a href="<%= @user.picture3 %>" data-lightbox="gallery">
              <img src="<%= @user.picture3 %>" style="height:100px;">
            </a>
            <% else %>
            <img src="../../no_image.png" style="width:100%">
            <% end %>
          </div>
        </div>
      </div>


      </div>
      
      
      <div class="col-md-6 text-xs-center">
      <h1 style="font-size: 300%; font-family: 'Quicksand', sans-serif;">Teacher <%= @user.nick %></h1>
      <hr> 
      <p style="margin-top: 25px;">
      <em><p><%= @user.appeal %></p></em><br/><hr>

      <div class="row">
          <div class="col-md-12">
            <i class="fa fa-flag"></i> 国籍： <%= @user.country %><br/><br/>
          </div>
          <div class="col-md-12">
            <i class="fa fa-line-chart"> </i> 講師経験： <%= @user.skill %><br/><br/>
          </div>
      </div>
      <div class="row">
          <div class="col-md-12">
            <i class="fa fa-soccer-ball-o"> </i> 趣味: <%= @user.hobby %><br/><br/>
          </div>
          <div class="col-md-12">
          <i class="fa fa-university"> </i>職業(前職): <%= @user.job %><br/>
          </div>
      </div>
         </p>
      <hr>

       <%= f.hidden_field :busy, :value => "call"%>

       <% if @user.busy == 'available'  %>

      <strong><h4 style="padding-top: 0; text-align:center">どの授業を受けますか？</h4></strong>

      <div class="col-md-12">
        <div class="col-md-4 col-xs-6">

        <label for="travel_english"><img src="../../travel_english.png" class="img img-responsive center-block" style="width: 50px;"><input type="radio" id="travel_english" name = "user[topic]" value="Travel English">&nbsp;旅行英会話</label>
        </div>

        <div class="col-md-4 col-xs-6">
        <label for="idiomatic_expressions"><img src="../../idiomatic_expressions.png" class="img img-responsive center-block" style="width: 50px;"><input type="radio" id="idiomatic_expressions" name = "user[topic]" value="Idiomatic Expression"><span style="font-size: 12px;">&nbsp;単語/熟語/フレーズ</span></label>
        </div>

        <div class="col-md-4 col-xs-6">
        <label for="business_english"><img src="../../business_english.png" class="img img-responsive center-block" style="width: 50px;"><input type="radio" id="business_english" name = "user[topic]" value="Business English">&nbsp;ビジネス英語</label>
        
        </div>
      </div>

      <div class="col-md-12" style="margin-top: 10px;">

        <div class="col-md-4 col-xs-6">
        <label for="daily_english"><img src="../../daily_english.png" class="img img-responsive center-block" style="width: 50px;"><input type="radio" id="daily_english" name = "user[topic]" value="Daily Enlgish">&nbsp;日常英会話</label>
        </div>

        <div class="col-md-4 col-xs-6">
          <label for="role_playing"><img src="../../role_playing.png" class="img img-responsive center-block" style="width: 50px;"><input type="radio" id="role_playing" name = "user[topic]" value="Role Playing">&nbsp;なりきり英会話</label>
        </div>

        <div class="col-md-4 col-xs-6">
          <label for="it_english"><img src="../../it_english.png" class="img img-responsive center-block" style="width: 50px;"><input type="radio" id="it_english" name = "user[topic]" value="IT English">&nbsp;IT English</label>
        </div>

        <div class="col-md-12 col-xs-12" style="margin-top: 20px;">
          <label for="student_notes">Enter Notes for Teacher: </label>
          <textarea name="user[notes]" class="form-control" id="student_notes" placeholder="Example: I want to learn the how to make a business call with American companies"></textarea>
        </div>

        <% end %>

       <% if current_user.type_user == "teacher" %>

      <%= link_to '戻る', url_for(:back), class: "btn btn-md btn-danger", style: "color: #fff;" %>


       <% elsif @user.busy == "call" %>

       <p>すみません！現在、Teacher <%= @user.nick %>は他の生徒と通話中です。他のオンラインの先生を探してみましょう</p>
      <%= link_to '戻る', url_for(:back), class: "btn btn-md btn-danger", style: "color: #fff;" %>


       <!-- <a href="#" class="btn btn-primary" style="color: #fff;">Yes Call Me Back!</a> -->

       <% elsif @user.busy == "busy" %>

       <p>すみません！現在、Teacher <%= @user.nick %>はオフラインです。他のオンライン教師を探しましょう</p>
        <%= link_to '戻る', url_for(:back), class: "btn btn-md btn-danger", style: "color: #fff;" %>

       <% else %>
       
         <% if current_user.time <= 25 %>

         <p>Sorry, you don't have enough time to have class. Please <%=  link_to edit3_user_path(current_user.id) do %><span class="btn btn-danger">Click Here</span><% end %> to purchase time</p>

         <% else %>
     

         <%= f.submit "→　今すぐ英会話", :onclick => "return confirm('Proceed to Class?')", :class => "btn btn-primary form-control", :style => "margin-top: 20px;" %>
      <% end %>
    <% end %>
    <% end %>

      </div>
           
      </div>

</div>