<% provide(:title, "先生の詳細") %>

<style>

 @media (max-width: 768px) {
      .text-xs-center {
              text-align: center;
       } 
    }

</style>

  <div class="container">

    <%= form_for(@user) do |f| %>    

      <div class="col-md-6"><br/>
        <div class="row">
          <div class="col-md-12">
            <% if @user.youtube_url.present? %>
            <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="<%= @user.picture %>" allowfullscreen></iframe>
            </div>
            <% else %>
            <a href="#">
              <img src="<%= @user.picture %>" style="width:100%">
            </a>
            <% end %>
            </div>
        </div>

      <div class="col-md-12 hidden-xs hidden-sm" style="margin-top: 20px;">
        <div class="col-md-4">
          <div class="thumbnail" style="box-shadow: 5px 10px #ccc;">
            <% if @user.picture.present? %>
            <a href="#">
              <img src="<%= @user.picture %>" style="height:100px;">
            </a>
            <% else %>
            <img src="../../no_image.png" style="width:100%">
            <% end %>
          </div>
        </div>
        <div class="col-md-4 ">
          <div class="thumbnail" style="box-shadow: 5px 10px #ccc;">
            <% if @user.picture2.present? %>
            <a href="#">
              <img src="<%= @user.picture2 %>" style="height:100px;">
            </a>
            <% else %>
            <img src="../../no_image.png" style="width:100px">
            <% end %>            
          </div>
        </div>
        <div class="col-md-4">
          <div class="thumbnail" style="box-shadow: 5px 10px #ccc;">
            <% if @user.picture3.present? %>
            <a href="#">
              <img src="<%= @user.picture3 %>" style="height:100px;">
            </a>
            <% else %>
            <img src="../../no_image.png" style="width:100%">
            <% end %>
          </div>
        </div>
      </div>


      </div>
      
      
      <div class="col-md-6 text-xs-center">
      <h1 style="font-size: 300%; font-family: 'Quicksand', sans-serif;">Teacher <%= @user.nick %></h1>
      <hr> 
      <p style="margin-top: 25px;">
      <em><p><%= @user.appeal %></p></em><br/><hr>

      <div class="row">
          <div class="col-md-12">
            <i class="fa fa-flag"></i> Nationality：<%= @user.country %><br/><br/>
          </div>
          <div class="col-md-12">
            <i class="fa fa-line-chart"> </i> Skill Level：<%= @user.skill %><br/><br/>
          </div>
      </div>
      <div class="row">
          <div class="col-md-12">
            <i class="fa fa-soccer-ball-o"> </i> Hobbies：<%= @user.hobby %><br/><br/>
          </div>
          <div class="col-md-12">
          <i class="fa fa-university"> </i>Profession：<%= @user.job %><br/>
          </div>
      </div>
         </p>
      <hr>
       <%= f.hidden_field :busy, :value => "call"%>

       <% if @user.busy == "call" %>

       <p>Sorry I'm having a class with another student. Would you like to schedule a callback?</p>

       <a href="#" class="btn btn-primary" style="color: #fff;">Yes Call Me Back!</a>

       <% elsif @user.busy == "busy" %>

       <p>Sorry I'm currently offline. Please check other Online Teachers, they will be happy to teach you as well!</p>

       <a href="/" class="btn btn-primary" style="color: #fff;">Back</a>

       <% else %>
       
         <% if current_user.time <= 25 %>

         <p>Sorry, you don't have enough time to have class. Please <a href="/" class="btn btn-warning">Click Here</a> to purchase time</p>

         <% else %>

         <%= f.submit "→　今すぐ英会話", :class => "btn btn-primary", :style => "" %>
      <% end %>
    <% end %>
    <% end %>

      </div>
           
      </div>

</div>