<% provide(:title, "先生の詳細") %>

<style>

 @media (max-width: 768px) {
      .text-xs-center {
              text-align: center;
       } 
    }

</style>

  <div class="container">

    <%= form_for(@user) do |f| %>
    
    <%#= @user.time %><%#= @user.addtime %>
    
      <div class="col-md-6">
      <img src="<%= @user.image %>" class="himg img-responsive" style="width:400px; height:300px; object-fit: cover;">

      <div class="col-md-12 hidden-xs hidden-sm" style="margin-top: 20px;">
        <div class="col-md-4">
          <div class="thumbnail" style="box-shadow: 5px 10px #ccc;">
            <a href="#">
              <img src="<%= @user.image %>" style="width:100%">
            </a>
          </div>
        </div>
        <div class="col-md-4 ">
          <div class="thumbnail" style="box-shadow: 5px 10px #ccc;">
            <a href="#">
              <img src="<%= @user.image %>" style="width:100%">
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="thumbnail" style="box-shadow: 5px 10px #ccc;">
            <a href="#">
              <img src="<%= @user.image %>" style="width:100%">
            </a>
          </div>
        </div>
      </div>

      </div>
      
      
      <div class="col-md-6 text-xs-center">
      <h1 style="font-size: 300%; font-family: 'Quicksand', sans-serif;"><%= @user.name %></h1>
      <p style="margin-top: 30px;">
      <em><p>Description Here</p></em>
      <i class="fa fa-flag"></i> Nationality：<%= @user.country %><br><br>
      <i class="fa fa-line-chart"> </i> Skill Level：<%= @user.skill %><br><br>
      <i class="fa fa-soccer-ball-o"> </i> Hobbies：<%= @user.hobby %><br><br>
      <i class="fa fa-university"> </i>Profession：<%= @user.job %><br>
      </p>
      <hr>
       <%= f.hidden_field :busy, :value => "no"%>
       
       <%= f.submit "→　今すぐ英会話", :style => "" %>
    <% end %>

      </div>
           
      </div>

</div>