<% provide(:title, "先生の詳細") %>

<style>

 @media (max-width: 768px) {
      .text-xs-center {
              text-align: center;
       } 
    }

</style>

  <div class="container">

    <%= form_for(@user) do |f| %>
    <%#= @user.time %><%#= @user.addtime %>
    

      <div class="col-md-6"><br/>
        <div class="row">
          <div class="col-md-12">
            <% if @user.youtube_url.present? %>
            <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="<%= @user.picture %>" allowfullscreen></iframe>
            </div>
            <% else %>
            <a href="#">
              <img src="<%= @user.picture %>" style="width:100%">
            </a>
            <% end %>
            </div>
        </div>

      <div class="col-md-12 hidden-xs hidden-sm" style="margin-top: 20px;">
        <div class="col-md-4">
          <div class="thumbnail" style="box-shadow: 5px 10px #ccc;">
            <% if @user.picture.present? %>
            <a href="#">
              <img src="<%= @user.picture %>" style="width:100%">
            </a>
            <% else %>
            <img src="../../no_image.png" style="width:100%">
            <% end %>
          </div>
        </div>
        <div class="col-md-4 ">
          <div class="thumbnail" style="box-shadow: 5px 10px #ccc;">
            <% if @user.picture2.present? %>
            <a href="#">
              <img src="<%= @user.picture2 %>" style="width:100%">
            </a>
            <% else %>
            <img src="../../no_image.png" style="width:100%">
            <% end %>            
          </div>
        </div>
        <div class="col-md-4">
          <div class="thumbnail" style="box-shadow: 5px 10px #ccc;">
            <% if @user.picture3.present? %>
            <a href="#">
              <img src="<%= @user.picture3 %>" style="width:100%">
            </a>
            <% else %>
            <img src="../../no_image.png" style="width:100%">
            <% end %>
          </div>
        </div>
      </div>


      </div>
      
      
      <div class="col-md-6 text-xs-center">
      <h1 style="font-size: 300%; font-family: 'Quicksand', sans-serif;"><%= @user.name %></h1>
      <hr> 
      <p style="margin-top: 25px;">
      <em><p><%= @user.appeal %></p></em><br/><hr>

      <div class="row">
          <div class="col-md-12">
            <i class="fa fa-flag"></i> Nationality：<%= @user.country %><br/><br/>
          </div>
          <div class="col-md-12">
            <i class="fa fa-line-chart"> </i> Skill Level：<%= @user.skill %><br/><br/>
          </div>
      </div>
      <div class="row">
          <div class="col-md-12">
            <i class="fa fa-soccer-ball-o"> </i> Hobbies：<%= @user.hobby %><br/><br/>
          </div>
          <div class="col-md-12">
          <i class="fa fa-university"> </i>Profession：<%= @user.job %><br/>
          </div>
      </div>
         </p>
      <hr>
       <%= f.hidden_field :busy, :value => "no"%>
       
       <%= f.submit "→　今すぐ英会話", :class => "btn btn-primary", :style => "" %>
    <% end %>

      </div>
           
      </div>

</div>