<div class="row">
<div class="col-md-6 col-md-offset-3">


<%= form_for @sell, url: sells_path do |f| %>
<!--#sells_pathに飛ぶから更新できる。-->

<%= render 'shared/error_message', object: f.object  %>

<%= f.hidden_field :content_type, :value => "スロット"%>


<% if @new_one.nil? %>
  <div class="box2">
  <div class="row">
    <div class="large-12 columns">
     <%= f.label :状態 %>
     <br>
        <%= f.radio_button :status, "受付中", {:checked => true}  %> 受付中 </label>
        <%= f.radio_button :status, "終了" %> 終了 </label>
    </div>
  </div>
<p>案件の状態を"終了"に変えると、他のユーザーは案件が見えなくなります。</p>
  </div>
<% end %>
  
  
  
  

  <br>
  <div class="row">
    <div class="large-12 columns width100">
     <%= f.label :メーカーから検索 %>
     <br>
       <%#= f.collection_select :maker, Maker.all, :name, :name %>

       <%= f.select :maker, 
       [
       ["アイウィル", "アイウィル"], 
       ["ＩＧＴ", "ＩＧＴ"], 
       ["アイ電子", "アイ電子"],
       ["アクロス", "アクロス"],
       ["アスワン東京", "アスワン東京"],
       ["アトム", "アトム"],
       ["アビリット", "アビリット"],
       ["アリストクラート", "アリストクラート"],
       ["アルゼ", "アルゼ"],
       ["アルチザン", "アルチザン"],
       ["イープレイ", "イープレイ"],
       ["イレブン", "イレブン"],
       ["エール", "エール"],
       ["ＥＸＣＩＴＥ", "ＥＸＣＩＴＥ"],
       ["ＳＮＫプレイモア", "ＳＮＫプレイモア"],
       ["エマ", "エマ"],
       ["エレコ", "エレコ"],
       ["エンターライズ", "エンターライズ"],
       ["オーイズミ", "オーイズミ"],
       ["岡崎産業", "岡崎産業"],
       ["オリンピア", "オリンピア"],
       ["オルカ", "オルカ"],
       ["北電子", "北電子"],
       ["京楽", "京楽"],
       ["銀座", "銀座"],
       ["KPE", "KPE"],
       ["コルモ", "コルモ"],
       ["サミー", "サミー"],
       ["三共", "三共"],
       ["三協電子", "三協電子"],
       ["SANKO", "SANKO"],
       ["三洋", "三洋"],
       ["ＪＳＩ", "ＪＳＩ"],
       ["ジェイピーエス", "ジェイピーエス"],
       ["ＪＩＮ", "ＪＩＮ"],
       ["スター", "スター"],
       ["スパイキー", "スパイキー"],
       ["清龍ジャパン", "清龍ジャパン"],
       ["ソフィア", "ソフィア"],
       ["大一", "大一"],
       ["大都技研", "大都技研"], 
       ["タイヨー", "タイヨー"], 
       ["タイヨーエレック", "タイヨーエレック"],
       ["高砂電器産業", "高砂電器産業"],
       ["DAXEL", "DAXEL"],
       ["中京遊技", "中京遊技"],
       ["デージー", "デージー"],
       ["ディ・ライト", "ディ・ライト"],
       ["デンケン販売", "デンケン販売"],
       ["トリビー", "トリビー"],
       ["トロージャン", "トロージャン"],
       ["七匠", "七匠"],
       ["ニイガタ電子", "ニイガタ電子"],
       ["西陣", "西陣"],
       ["ニュー・モンキー", "ニュー・モンキー"],
       ["ニューギン", "ニューギン"],
       ["ネイチャー・アセスメント", "ネイチャー・アセスメント"],
       ["ネット", "ネット"],
       ["ハイライツ・エンタテインメント", "ハイライツ・エンタテインメント"],
       ["バルテック", "バルテック"],
       ["パイオニア", "パイオニア"],
       ["パラジェーピー", "パラジェーピー"],
       ["パレス興業", "パレス興業"],
       ["ビーム", "ビーム"],
       ["ビスティ", "ビスティ"],
       ["ファースト", "ファースト"],
       ["フォープ", "フォープ"],
       ["藤興", "藤興"],
       ["藤商事", "藤商事"],
       ["ブリッジ", "ブリッジ"],
       ["平和", "平和"],
       ["ベルコ", "ベルコ"],
       ["マツヤ", "マツヤ"],
       ["ミズホ", "ミズホ"],
       ["メーシー", "メーシー"],
       ["メーシー販売", "メーシー販売"],
       ["ヤーマ", "ヤーマ"],
       ["山佐", "山佐"],
       ["遊人", "遊人"],
       ["ユニバーサルエンターテインメント", "ユニバーサルエンターテインメント"],
       ["ユニバーサルブロス", "ユニバーサルブロス"],
       ["ラスター", "ラスター"],
       ["リックコーポレーション", "リックコーポレーション"],
       ["ロデオ", "ロデオ"],
       ["その他", "その他"]
       ] %>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="large-12 columns form-width width100">
     <%= f.label :機種名〔正式名称をご記入ください。〕 %>
        <%= f.text_field :name, class: 'form-control', :required => true, :placeholder => '例：Ｚゴールド・インフィニティＮＣ' %>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="large-12 columns">
     <%= f.label :数量〔半角英数字〕 %>
        <%= f.text_field :number, class: 'form-control', :required => true, :placeholder => '例：2' %>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="large-12 columns">
     <%= f.label :売却価格〔半角英数字〕 %>
        <%= f.text_field :price, class: 'form-control', :required => true, :placeholder => '例：231000' %>
      <small class="red1">※１台あたりの価格ではございません。
      <br>上記でご入力いただいた数量の
      トータルの価格をご記入ください。</small>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="large-12 columns">
     <%= f.label :前設置場所 %>
     <%= f.select :place, 
       [
       ["北海道", "北海道"], 
       ["東北", "東北"], 
       ["関東", "関東"],
       ["中部", "中部"],
       ["近畿", "近畿"],
       ["中国", "中国"],
       ["四国", "四国"],
       ["九州", "九州"]
       ] %>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="large-12 columns">
     <%= f.label :撤去日（すでに撤去済みの場合は”撤去済み”と入力ください） %>
        <%= f.text_field :removal_date, class: 'form-control', :required => true, :placeholder => '例：撤去済　or　17/10/15'  %>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="large-12 columns">
     <%= f.label :残債 %>
        <%= f.radio_button :remnant, "あり", {:checked => true}  %> あり </label>
        <%= f.radio_button :remnant, "無し" %> 無し </label>
    </div>
  </div>
  <br>
  
    <div class="row">
    <div class="large-12 columns">
     <%= f.label :シリンダー %>
        <%= f.radio_button :cylinder, "あり", {:checked => true}  %> あり </label>
        <%= f.radio_button :cylinder, "無し" %> 無し </label>
    </div>
  </div>
  <br>
  
  <div class="row">
    <div class="large-12 columns">
     <%= f.label :使用次 %>
        <%= f.radio_button :stage, "１次", {:checked => true}  %> １次 </label>
        <%= f.radio_button :stage, "２次" %> ２次 </label>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="large-12 columns">
     <%= f.label :状態 %>
        <%= f.radio_button :condition, "A", {:checked => true}  %> A(ほぼ新品同様) </label>
        <%= f.radio_button :condition, "B" %> B(多少汚れあり) </label>
        <%= f.radio_button :condition, "C" %> C(多少整備必要) </label>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="large-12 columns width100">
     <%= f.label :備考 %>
        <%= f.text_area :remarks, class: 'form-control', :placeholder => '例：担当は山田' %>
    </div>
  </div>
  <br>
  
  
  
  
<!-- -- -->
    <%= f.submit "登録する", class: "btn btn-primary", data: { disable_with: "登録中..." } %>
<!-- -- -->
<% end %>
<!-- -- -->
</div>
</div>



<!--<form>-->
<!--  <div class="row">-->
<!--    <div class="large-12 columns">-->
<!--      <label>Input Label-->
<!--        <input type="text" placeholder="large-12.columns" />-->
<!--      </label>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="row">-->
<!--    <div class="large-4 columns">-->
<!--      <label>Input Label-->
<!--        <input type="text" placeholder="large-4.columns" />-->
<!--      </label>-->
<!--    </div>-->
<!--    <div class="large-4 columns">-->
<!--      <label>Input Label-->
<!--        <input type="text" placeholder="large-4.columns" />-->
<!--      </label>-->
<!--    </div>-->
<!--    <div class="large-4 columns">-->
<!--      <div class="row collapse">-->
<!--        <label>Input Label</label>-->
<!--        <div class="small-9 columns">-->
<!--          <input type="text" placeholder="small-9.columns" />-->
<!--        </div>-->
<!--        <div class="small-3 columns">-->
<!--          <span class="postfix">.com</span>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="row">-->
<!--    <div class="large-12 columns">-->
<!--      <label>Select Box-->
<!--        <select>-->
<!--          <option value="husker">Husker</option>-->
<!--          <option value="starbuck">Starbuck</option>-->
<!--          <option value="hotdog">Hot Dog</option>-->
<!--          <option value="apollo">Apollo</option>-->
<!--        </select>-->
<!--      </label>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="row">-->
<!--    <div class="large-6 columns">-->
<!--      <label>Choose Your Favorite</label>-->
<!--      <input type="radio" name="pokemon" value="Red" id="pokemonRed"><label for="pokemonRed">Red</label>-->
<!--      <input type="radio" name="pokemon" value="Blue" id="pokemonBlue"><label for="pokemonBlue">Blue</label>-->
<!--    </div>-->
<!--    <div class="large-6 columns">-->
<!--      <label>Check these out</label>-->
<!--      <input id="checkbox1" type="checkbox"><label for="checkbox1">Checkbox 1</label>-->
<!--      <input id="checkbox2" type="checkbox"><label for="checkbox2">Checkbox 2</label>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="row">-->
<!--    <div class="large-12 columns">-->
<!--      <label>Textarea Label-->
<!--        <textarea placeholder="small-12.columns"></textarea>-->
<!--      </label>-->
<!--    </div>-->
<!--  </div>-->
<!--</form>-->