<div class="row">
<div class="col-md-6 col-md-offset-3">
 
 
 
 
<%= form_for @sell, url: sells_path do |f| %>
<!--#sells_pathに飛ぶから更新できる。-->



<%= render 'shared/error_message', object: f.object  %>


<%= f.hidden_field :content_type, :value => "その他"%>

<% if @new_one.nil? %>
<div class="box2">      
  <div class="row">
    <div class="large-12 columns">
     <%= f.label :状態 %>
     <br>
        <%= f.radio_button :status, "受付中", {:checked => true}  %> 受付中 </label>
        <%= f.radio_button :status, "終了" %> 終了 </label>
    </div>
  </div>
<p>案件の状態を"終了"に変えると、他のユーザーは案件が見えなくなります。</p>
  </div>
<% end %>
        
<%= f.hidden_field :maker, :value => "なし"%>

  <br>
  <div class="row">
    <div class="large-12 columns width100">
     <%= f.label :種別 %>
     <br>
       <%= f.select :type_machine, 
       [
       ["両替・カード発券機関連", "両替・カード発券機関連"], 
       ["ＣＲユニット・玉貸サンド関連", "ＣＲユニット・玉貸サンド関連"], 
       ["メダルサンド関連", "メダルサンド関連"],
       ["トランス関連", "トランス関連"],
       ["データ表示機関連", "データ表示機関連"],
       ["計数機関連", "計数機関連"],
       ["洗浄機関連", "洗浄機関連"],
       ["セキュリティ関連", "セキュリティ関連"],
       ["ホールコンピュータ・ポス関連", "ホールコンピュータ・ポス関連"],
       ["その他", "その他"]
       ] %>
    </div>
  </div>
  <br>
    <div class="row">
    <div class="large-12 columns form-width width100">
     <%= f.label :物件名〔正式名称をご記入ください。〕 %>
        <%= f.text_field :name, class: 'form-control', :required => true, :placeholder => '例：コイン　25パイ 30万枚' %>
    </div>
  </div>
  <br>
  
  <div class="row">
    <div class="large-12 columns">
     <%= f.label :数量〔半角英数字〕 %>
        <%= f.text_field :number, class: 'form-control', :required => true, :placeholder => '例：2' %>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="large-12 columns">
     <%= f.label :売却価格〔半角英数字〕 %>
        <%= f.text_field :price, class: 'form-control', :required => true, :placeholder => '例：231000' %>
      <small class="red1">※１台あたりの価格ではございません。
      <br>上記でご入力いただいた数量の
      トータルの価格をご記入ください。</small>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="large-12 columns">
     <%= f.label :前設置場所 %>
     <%= f.select :place, 
       [
       ["北海道", "北海道"], 
       ["東北", "東北"], 
       ["関東", "関東"],
       ["中部", "中部"],
       ["近畿", "近畿"],
       ["中国", "中国"],
       ["四国", "四国"],
       ["九州", "九州"]
       ] %>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="large-12 columns">
     <%= f.label :撤去日（すでに撤去済みの場合は”撤去済み”と入力ください） %>
        <%= f.text_field :removal_date, class: 'form-control', :required => true, :placeholder => '例：撤去済　or　17/10/15' %>
    </div>
  </div>
  <br>

  <div class="row">
    <div class="large-12 columns">
     <%= f.label :状態 %>
        <%= f.radio_button :condition, "A", {:checked => true}  %> A(ほぼ新品同様) </label>
        <%= f.radio_button :condition, "B" %> B(多少汚れあり) </label>
        <%= f.radio_button :condition, "C" %> C(多少整備必要) </label>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="large-12 columns width100">
     <%= f.label :備考 %>
        <%= f.text_area :remarks, class: 'form-control', :placeholder => '例：1枚1.8円' %>
    </div>
  </div>
  <br>
  
  
  
  
<!-- -- -->
    <%= f.submit "登録する", class: "btn btn-primary", data: { disable_with: "登録中..." } %>
<!-- -- -->
<% end %>
<!-- -- -->
</div>
</div>



<!--<form>-->
<!--  <div class="row">-->
<!--    <div class="large-12 columns">-->
<!--      <label>Input Label-->
<!--        <input type="text" placeholder="large-12.columns" />-->
<!--      </label>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="row">-->
<!--    <div class="large-4 columns">-->
<!--      <label>Input Label-->
<!--        <input type="text" placeholder="large-4.columns" />-->
<!--      </label>-->
<!--    </div>-->
<!--    <div class="large-4 columns">-->
<!--      <label>Input Label-->
<!--        <input type="text" placeholder="large-4.columns" />-->
<!--      </label>-->
<!--    </div>-->
<!--    <div class="large-4 columns">-->
<!--      <div class="row collapse">-->
<!--        <label>Input Label</label>-->
<!--        <div class="small-9 columns">-->
<!--          <input type="text" placeholder="small-9.columns" />-->
<!--        </div>-->
<!--        <div class="small-3 columns">-->
<!--          <span class="postfix">.com</span>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="row">-->
<!--    <div class="large-12 columns">-->
<!--      <label>Select Box-->
<!--        <select>-->
<!--          <option value="husker">Husker</option>-->
<!--          <option value="starbuck">Starbuck</option>-->
<!--          <option value="hotdog">Hot Dog</option>-->
<!--          <option value="apollo">Apollo</option>-->
<!--        </select>-->
<!--      </label>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="row">-->
<!--    <div class="large-6 columns">-->
<!--      <label>Choose Your Favorite</label>-->
<!--      <input type="radio" name="pokemon" value="Red" id="pokemonRed"><label for="pokemonRed">Red</label>-->
<!--      <input type="radio" name="pokemon" value="Blue" id="pokemonBlue"><label for="pokemonBlue">Blue</label>-->
<!--    </div>-->
<!--    <div class="large-6 columns">-->
<!--      <label>Check these out</label>-->
<!--      <input id="checkbox1" type="checkbox"><label for="checkbox1">Checkbox 1</label>-->
<!--      <input id="checkbox2" type="checkbox"><label for="checkbox2">Checkbox 2</label>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="row">-->
<!--    <div class="large-12 columns">-->
<!--      <label>Textarea Label-->
<!--        <textarea placeholder="small-12.columns"></textarea>-->
<!--      </label>-->
<!--    </div>-->
<!--  </div>-->
<!--</form>-->