
<div class="row">

 
 
<%= form_for(@safe) do |f| %>
<%= render 'shared/error_message', object: f.object %>

<h3>返品完了ページ</h3>

<h4>売買情報</h4>
<h5>台情報</h5>

<table class="table font-small sampleTable">


<tr scope="row"> 
  <th width="50"  class="thead-inverse">ID</th>
  <td width="150" ><%= @safe.id %></td>
<tr>
 
<tr scope="row"> 
  <th width="50"  class="thead-inverse">投稿日時</th>
  <td width="150" ><%= @safe.created_at.strftime("%y年 %m月 %d日") %></td>
<tr>
 
 
 
<tr scope="row"> 
  <th width="50"  class="thead-inverse">前設置</th>
  <td width="150" ><%= @sell.place %></td>
<tr>
 
<tr scope="row"> 
  <th width="50"  class="thead-inverse">メーカー</th>
  <td width="150" ><%= @sell.maker %></td>
<tr>
 
<tr scope="row"> 
  <th width="50"  class="thead-inverse">物件名</th>
  <td width="150" ><%= @sell.name %></td>
<tr>
 
<tr scope="row"> 
  <th width="50"  class="thead-inverse">種別</th>
  <td width="150" ><%= @sell.type_machine %></td>
<tr> 

<tr scope="row"> 
  <th width="50"  class="thead-inverse">撤去日</th>
  <td width="150" ><%= @sell.removal_date %></td>
<tr> 

<tr scope="row"> 
  <th width="50"  class="thead-inverse">残債</th>
  <td width="150" ><%= @sell.remnant %></td>
<tr> 

<tr scope="row"> 
  <th width="50"  class="thead-inverse">使用次</th>
  <td width="150" ><%= @sell.stage %></td>
<tr> 

<tr scope="row"> 
  <th width="50"  class="thead-inverse">状態</th>
  <td width="150" ><%= @sell.condition %></td>
<tr> 

<tr scope="row"> 
  <th width="50"  class="thead-inverse">備考</th>
  <td width="150" ><%= @sell.remarks %></td>
<tr> 

</table> 


       


<h5>確定条件</h5>

<%#= f.hidden_field_tag 'status', @status %>
<table class="table font-small sampleTable">

<tr scope="row"> 
  <th width="50"  class="thead-inverse">到着予定日</th>
  <td width="150" ><%= @safe.date_of_arrive %></td>
<tr>
 
<tr scope="row"> 
  <th width="50"  class="thead-inverse">購入台数</th>
  <td width="150" ><%= @safe.confirm_number %>台</td>
<tr> 

<tr scope="row"> 
  <th width="50"  class="thead-inverse">合計価格</th>
  <td width="150" ><%= @commission.to_s(:delimited) %>円 (手数料２％込)</td>
<tr> 

<tr scope="row"> 
  <th width="50"  class="thead-inverse">検品納期</th>
  <td width="150" ><%= @safe.limit_of_inspection %></td>
<tr> 

</table> 





<br>
<%= f.submit "返品完了する" , class: "btn btn-primary big_botton", data: { disable_with: "処理中...", confirm: '本当に商品は返品されましたか？' } %>
<p style="color:red; font-size:14px;" > </p>
<center>
 
<p style="color:red; font-size:14px;" >※このアクションは実行後に取り消すことができません。</p>
</center>

<h5>購入会社情報</h5>


<!--セル情報の一覧のフォーム(並び替え可能)-->

<div class="width_table">
<table class="table font-small sampleTable">

<tr scope="row"> 
  <th width="50" class="thead-inverse">メインの受付用電話番号</th>
  <td width="150"><%= @buyer.company_call_number_contact %></td>
<tr>
  
<tr scope="row"> 
  <th width="50" class="thead-inverse">受付時間</th>
  <td width="150"><%= @buyer.company_call_time_from_1 %>時
        <%= @buyer.company_call_time_from_2 %>分　〜　
        <%= @buyer.company_call_time_to_1 %>時
        <%= @buyer.company_call_time_to_2 %>分</td>
<tr>
  
<tr scope="row"> 
  <th width="50" class="thead-inverse">メインの受付担当者</th>
  <td width="150"><%= @buyer.company_reception %>（<%= @buyer.company_reception_sound %>）</td>
<tr>
  
<tr scope="row"> 
  <th width="50" class="thead-inverse">担当者の役職</th>
  <td width="150"><%= @buyer.company_position %></td>
<tr>
  
<tr scope="row"> 
  <th width="50" class="thead-inverse">受付用FAX番号</th>
  <td width="150"><%= @buyer.company_fax_number_contact %></td>
<tr>
  
<tr scope="row"> 
  <th width="50" class="thead-inverse">受付用メールアドレス</th>
  <td width="150"><%= @buyer.company_mail_address %></td>
<tr>

<tr scope="row"> 
  <th width="50" class="thead-inverse">受付先住所</th>
  <td width="150"><%= @buyer.company_post_number_contact %>
      <%= @buyer.company_place_contact %>
      <%= @buyer.company_place_detail_contact %></td>
<tr>
  
</table>
</div>
<div class="width_table">
<table class="table font-small sampleTable">
  
<tr scope="row"> 
  <th width="50" class="thead-inverse">その他連絡先①</th>
  <td width="150">電話番号：<%= @buyer.company_call_number_contact_name_1 %><br>
      担当：<%= @buyer.company_call_number_contact_tel_1 %></td>
<tr>
  
<tr scope="row"> 
  <th width="50" class="thead-inverse">その他連絡先②</th>
  <td width="150">電話番号：<%= @buyer.company_call_number_contact_name_2 %><br>
      担当：<%= @buyer.company_call_number_contact_tel_2 %></td>
<tr>
  
<tr scope="row"> 
  <th width="50" class="thead-inverse">その他連絡先③</th>
  <td width="150">電話番号：<%= @buyer.company_call_number_contact_name_3 %><br>
      担当：<%= @buyer.company_call_number_contact_tel_3 %></td>
<tr>
  
<tr scope="row"> 
  <th width="50" class="thead-inverse">その他連絡先④</th>
  <td width="150">電話番号：<%= @buyer.company_call_number_contact_name_4 %><br>
      担当：<%= @buyer.company_call_number_contact_tel_4 %></td>
<tr>
  
  
<tr scope="row"> 
  <th width="50" class="thead-inverse">その他連絡先⑤</th>
  <td width="150">電話番号：<%= @buyer.company_call_number_contact_name_5 %><br>
      担当：<%= @buyer.company_call_number_contact_tel_5 %></td>
<tr>
  
  
<tr scope="row"> 
  <th width="50" class="thead-inverse">その他連絡先⑥</th>
  <td width="150">電話番号：<%= @buyer.company_call_number_contact_name_6 %><br>
      担当：<%= @buyer.company_call_number_contact_tel_6 %></td>
<tr>
  
</table>
</div>
<div class="width_table">
<table class="table font-small sampleTable">

<tr scope="row"> 
  <th width="50" class="thead-inverse">販売社名</th>
  <td width="150"><%= @buyer.company_name %>(<%= @buyer.company_name_sounds %>)</td>
<tr>
  
<tr scope="row"> 
  <th width="50" class="thead-inverse">業態</th>
  <td width="150"><%= @buyer.company_type %></td>
<tr>
  
<tr scope="row"> 
  <th width="50" class="thead-inverse">所属組合</th>
  <td width="150"><%= @buyer.company_union %></td>
<tr>

<tr scope="row"> 
  <th width="50" class="thead-inverse">支店</th>
  <td width="150"><%= @buyer.company_branch %></td>
<tr>
  
<tr scope="row"> 
  <th width="50" class="thead-inverse">代表者名</th>
  <td width="150"><%= @buyer.company_president %>(<%= @buyer.company_president_sound %>)</td>
<tr>
  
<tr scope="row"> 
  <th width="50" class="thead-inverse">住所</th>
  <td width="150">
  （<%= @buyer.company_post_number %>）
  <%= @buyer.company_place %>　
  <%= @buyer.company_place_detail %>
  </td>
<tr>
  
<tr scope="row"> 
  <th width="50" class="thead-inverse">電話番号</th>
  <td width="150"><%= @buyer.company_call_number %></td>
<tr>
  
<tr scope="row"> 
  <th width="50" class="thead-inverse">FAX番号</th>
  <td width="150"><%= @buyer.company_fax_number %></td>
<tr>

<tr scope="row"> 
  <th width="50" class="thead-inverse">緊急連絡先</th>
  <td width="150"><%= @buyer.company_call_number_emergency %></td>
<tr>
  
<tr scope="row"> 
  <th width="50" class="thead-inverse">登録日</th>
  <td width="150"><%= @buyer.created_at.strftime("%y/%m/%d") %></td>
<tr>
  
</table> 
</div>
<div class="width_table">
<table class="table font-small sampleTable">
  
<tr scope="row"> 
  <th width="50" class="thead-inverse">公式WEBページ</th>
  <td width="150"><%= @buyer.company_url %></td>
<tr>

<tr scope="row"> 
  <th width="50" class="thead-inverse">会社PR</th>
  <td width="150"><%= @buyer.company_pr %></td>
<tr>    

        
        

</table>
</div>



<%= f.submit "返品完了する" , class: "btn btn-primary big_botton", data: { disable_with: "処理中...", confirm: '本当に商品は返品されましたか？' } %>



<% end %>



</div>


<br>
<center>
<p style="color:red; font-size:14px;" >※このアクションは実行後に取り消すことができません。</p>
</center>


<%= link_to '戻る', buyer_user_path(current_user) , :class => "btn btn-primary big_botton btnwhite" %>