<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.10.0/css/lightbox.min.css">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.10.0/js/lightbox.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.10.0/js/lightbox-plus-jquery.min.js"></script>

<br/><br/>

<div class="container">
	<div class="row">
	<div class="col-md-12">
  <%= form_for(@safe) do |f| %>
    <%= f.hidden_field :status_teacher, :value => "done"%>
    <div class="panel panel-default">
      <div class="panel-heading"><h3 class="hidden-xs">APPLICATION FOR COMPLETE<span class="pull-right glyphicon glyphicon-pencil"></span></div></h3>
      <div class="panel-body">
      	<div class="row">
      	<div class="col-sm-12">
      	<label>Student Name:</label> <%= @safe.student %>
      	</div>

      	</div>
      	<hr/>
      	<div class="row">
      		<div class="col-sm-12">
        <p>Sample Screenshot. Make sure to include the name and duration of the call!</p>
        <a href="../../../../screenshot.png" data-lightbox="gallery">
        <img src="../../../../screenshot.png" class="img img-thumbnail" style="width: 30%; margin-bottom: 30px;" ></a>
        <br>
				<label>Screenshot of Class</label> <i class="fa fa-picture-o"></i>
				<%= f.file_field :photo, accept: 'image/jpeg,image/gif,image/png', class: 'form-control-file'  %>
      		</div>
      	</div>
      	<hr/>
      	<div class="row">
      		<div class="col-sm-12">
      		<div class="form-group">

              <label for="safe_time">Duration of call<span style="color:red; font-weight: bold;">*</span></label><br>
                <%= f.text_field :time , :placeholder => 'Should be in mins, example 1 hour and 15 mins ~ 75', :required => '', class: 'form-control col-md-4' %>
            </div>
      		</div>
      	</div>
      	<hr/>
      	<div class="row">
      		<div class="col-sm-12">
      		<div class="form-group">
                <label for="remarks">Student Remarks</label>
                  <div class="input-group">
                    <%= f.text_area(:remarks, rows: 5, class: "form-control", :id => 'remarks', placeholder: "Please write down what you discuss with the student", :required => '') %>
                </div>
           </div>
      		</div>
      	</div>
      	<hr/>

      	<div class="row">
      		<div class="col-md-12">
<%= f.submit 'Submit', :onclick => "return confirm('Are you sure you want to submit?')", :class => 'btn btn-md btn-info', name: "application" %>
				<%= link_to 'Back', url_for(:back), class: "btn btn-md btn-danger", style: "color: #fff;" %>
      		</div>
      </div>
    </div>
	</div>
	</div>
</div>
<% end %> 


