

<br/><br/>

<div class="container">
	<div class="row">
	<div class="col-md-12">
  <%= form_for(@safe) do |f| %>
    <%= f.hidden_field :status_teacher, :value => "done"%>
    <div class="panel panel-default">
      <div class="panel-heading"><h3 class="hidden-xs">APPLICATION FOR COMPLETE<span class="pull-right glyphicon glyphicon-pencil"></span></div></h3>
      <div class="panel-body">
      	<div class="row">
      	<div class="col-sm-12">
      	<label>Student Name:</label> <%= @safe.student %>
      	</div>

      	</div>
      	<hr/>
      	<div class="row">
      		<div class="col-sm-12">
				<label>Screenshot of Class</label> <i class="fa fa-picture-o"></i>
				<%= f.file_field :photo, accept: 'image/jpeg,image/gif,image/png', class: 'form-control-file'  %>
      		</div>
      	</div>
      	<hr/>
      	<div class="row">
      		<div class="col-sm-2">
      		<div class="form-group">
              <label for="user_skill" class="hidden-xs">Call Duration</label>
                <div class="input-group">
                  <select class="form-control" name="safe[time]" required>
                    <option value="30 mins">30 mins</option>
                    <option value="60 mins">60 mins</option>
                    <option value="90 mins">90 mins</option>
                    <option value="120 mins">120 mins</option>
                    <option value="150 mins">150 mins</option>
                    <option value="180 mins">180 mins</option>
                  </select>
              </div>
            </div>
      		</div>
      	</div>
      	<hr/>
      	<div class="row">
      		<div class="col-sm-12">
      		<div class="form-group">
                <label for="remarks">Student Remarks</label>
                  <div class="input-group">
                    <%= f.text_area(:remarks, rows: 5, class: "form-control", :id => 'remarks', placeholder: "Please write down what you discuss with the student", :required => '') %>
                </div>
           </div>
      		</div>
      	</div>
      	<hr/>

      	<div class="row">
      		<div class="col-md-12">
<%= f.submit 'Submit', :onclick => "return confirm('Are you sure you want to submit?')", :class => 'btn btn-md btn-info', name: "application" %>
				<%= link_to 'Back', url_for(:back), class: "btn btn-md btn-danger", style: "color: #fff;" %>
      		</div>
      </div>
    </div>
	</div>
	</div>
</div>
<% end %> 


