<% provide(:title,"ALL class") %>

<% 
session.delete(:fowarding_url)
store_location 
%>
    


<div class="container-fluid" style="margin-right: 20px; margin-left: 80px;"> 
<div class="float-left" style=" width:40%;" >
  
<h3 class="float-left" style="margin: 30px 15% 0 10%; " >
ALL Class
</h3>


</div>
</div>








<div style="margin:0 10% 0 10%;">  


<table class="table table-bordered table-hover table-condensed" style="margin-top: 30px; font-size:60%;">
  <thead class="thead-default">
    <tr scope="row">
      <th class="col-md-1" style="font-size:12px"><%= sortable "id", "ID" %></th>    
      <th class="col-md-3" style="font-size:12px"><%= sortable "teacher", "先生(Teacher)" %></th>
      <th class="col-md-3" style="font-size:12px"><%= sortable "student", "生徒(Student)" %></th>

      <th class="col-md-3" style="font-size:12px"><%= sortable "status_teacher", "授業状況(Status)" %></th>
      <th class="col-md-3" style="font-size:12px"><%= sortable "time", "授業時間(Time［mins］)" %></th>
      <th class="col-md-3" style="font-size:12px"><%= sortable "photo", "証拠スクショ(evidence)" %></th>
      
      <th class="col-md-2 text-center" style="font-size:12px">編集(Edit)</th>
      <th class="col-md-2 text-center" style="font-size:12px">削除(Delete)</th>

    </tr>
  </thead>
  <tbody>

  <% @safes.each do |safe| %>

          <td style="font-size:12px"><%= safe.id %></td>
          <td style="font-size:12px"><%= safe.teacher %></td>
          <td style="font-size:12px"><%= safe.student %></td>


          <% @p = "\"" + safe.student + "\"" %>
          <% @id = User.find_by(name: safe.student) %>





          
          <td style="font-size:12px"><%= safe.status_teacher %></td>
          <td style="font-size:12px"><%= safe.time %></td>
          <td style="font-size:12px"><a href="<%= safe.photo %>"><img src="<%= safe.photo %>" width="50"></a></td>
          
          <td class="text-center" style="zoom:1; padding:5px 0 0 0; ">
          <%= link_to edit2_safes_path(safe), :class => "btn btn-primary", :style => "color:#fff;" do %>
          <i class="fa fa-pencil-square-o"></i>
          <% end %>
          </td>
          
          <td class="text-center" style="padding:5px 0 0 0;"><%= link_to "<i class='fa fa-trash-o'></i>".html_safe , safe ,method: :delete, data: { confirm: "本当にこのユーザーを削除しますか？" }, class: "btn btn-danger", :style =>" color:#fff; " %></td>

   
        </tr>
  <% end %>
  </tbody>
</table>


<%= paginate @safes %>

</div>
</div>

