<% provide(:title,"履歴") %>

<div class="row">
<div class="container-fluid" style="margin-right: 20px; margin-left: 20px;">  
<h3>パチンコ在庫の履歴</h3>

<div class="btn-group" >
<a href="/safes" class="btn btn-default"><i class="fa fa-bars"></i> パチンコ</a>
<a href="/slot_history" class="btn btn-default"><i class="fa fa-bolt"></i> スロット</a>
</div>


<div class="btn-group float-right">

<a href="?t=c" class="btn btn-default"><i class="fa fa-eye-slash"></i> Compact View</a>
<a href="?t=f" class="btn btn-default"><i class="fa fa-eye"></i> Full View</a>

<%= link_to "CSV出力",csv_output_two_safes_path(format: :csv), :class => "btn btn-danger" %>

</div>

<table class="table table-bordered table-hover" style="margin-top: 30px;">
  <thead class="thead-inverse">

<% if (params[:t] == "f") %>
<table class="table table-bordered table-hover table-condensed" style="font-size:70%;">
  <thead class="thead-default">
<% end %>

    <tr scope="row">

      <th class="col-md-1">ID</th>
      <th class="col-md-2">メーカー</th>
      <th class="col-md-1">タイプ</th>
      <th class="col-md-2">機種名</th>
   
      <% if (params[:t] == "f") %>
      <th class="col-md-2">機器番号</th>
      <th class="col-md-2">取引先</th>
      <th class="col-md-2">担当者<%#= sortable "confirm_price", "確定価格(全込)" %></th>
      <% end %>
      
      
      <th class="col-md-2">仕入価格</th>

      <% if (params[:t] == "f") %>
      <th class="col-md-1">撤去日</th>
      <th class="col-md-1">検定日</th>
      <% end %>
      
      
      <th class="col-md-1">倉庫</th>
      
      <% if (params[:t] == "f") %>
      <th class="col-md-1">パネル色</th>
      <th class="col-md-3">備考</th>
      <th class="col-md-1">画像</th>
      <% end %>
        
      <th class="col-md-1 text-center">編集</th>
      <th class="col-md-1 text-center">出庫</th>

      <% if (params[:t] == "f") %>
      <th class="col-md-1 text-center">p-sensor</th>
      <th class="col-md-1 text-center">削除</th>
      <% end %>

    </tr>
  </thead>
<tbody>

<% @safes.each do |safe| %>


<% if safe.type_machine == "セル"
      @cell = safe.number

      elsif safe.type_machine == "枠"
      @cell = safe.number_of_frame

      elsif safe.type_machine == "基盤"
      @cell = safe.number_of_foundation
      
      else
      @cell = ""
      end %>


      <tr scope="row">
        <td><%= safe.id %></td>
        <td><%= safe.maker %></td>
        <td><%= safe.type_machine %></td>
        <td><%= safe.name %></td>

      <% if (params[:t] == "f") %>
      <td><%= @cell %></td>
      <% end %>

      <% if (params[:t] == "f") %>
        <td>
        <% if safe.status == "出庫済" %>
        入：<%= safe.created_at.strftime("%m/%d") %> <%= safe.from %><br>
        出：<%= safe.updated_at.strftime("%m/%d") %> <%= safe.to %>
        <% else %>
        入：<%= safe.created_at.strftime("%m/%d") %> <%= safe.from %><br>
        出： --- ---
        <% end %>
        </td>
        
        <td>
        <% if safe.status == "出庫済" %>
        入：<%= safe.staff %> <br>
        出：<%= safe.staff_two %>
        <% else %>
        入：<%= safe.staff %> <br>
        出： ---
        <% end %>
      </td>
      <% end %>
      
      
      <% 
      if safe.id > 1
      if safe.type_machine = "枠"
      @safe2 = Safe.find(safe.id - 1)
      end
      end
      if safe.id > 2
      if safe.type_machine = "基盤"
      @safe2 = Safe.find(safe.id - 2)
      end
      end
      %>
      <% unless safe.price_from.blank? %>
      <% if safe.price_from == 0 %>
      <td class="width5vw">付属品0円<br>(本体<%= @safe2.price_from.to_s(:delimited) %>円)</td>
      <% else %>
      <td class="width5vw"><%= safe.price_from.to_s(:delimited) %> 円</td>
      <% end %>
      <% else %>
      <td><%= safe.price_from %> 円</td>
      <% end %>

      <% if (params[:t] == "f") %>
        <td><%= safe.date_of_removal %></td>
        <td><%= safe.date_of_verification %></td>
      <% end %>
      
      
        <td><%= safe.place %></td>
        
      <% if (params[:t] == "f") %>
        <td><%= safe.color_of_panel %></td>
        <td><%= safe.remarks %></td>
              <% unless safe.photo.blank? %>
        <td class="width5vw"><a href="<%= safe.photo %>" ><img src="<%= safe.photo %>" width="50"></a></td>
        <% else %>
        <td class="width5vw"><img src="assets/No-image-found.jpg" width="50"></td>
        <% end %>
      <% end %>
      

      

        <td class="text-center">
        <%= link_to edit2_safes_path(safe), :class => "btn btn-primary" do %>
        <i class="fa fa-pencil-square-o"></i>
        <% end %>
        </td>
        
        
      <% if safe.status == "出庫済" %>
       <td class="text-center">出庫済</td>
      <% else %>
       <td class="text-center">
        <%= link_to edit_safe_path(safe, params: { safe: { status: "出庫済"} } ), :class => "btn btn-primary" do %>
        <i class="fa fa-sign-out"></i>
        <% end %>
       </td>
       <% end %>

       
       <% if (params[:t] == "f") %>
       <td>
        <% @utf81 = safe.name.encode(Encoding::SJIS, :invalid => :replace, :undef => :replace) %>
        <% @utf8 = ERB::Util.url_encode(@utf81) %>
        <% @url = "https://www.p-sensor.co.jp/php/search_sale.php?&item=" + @utf8 %>
        <%= link_to "P", @url, :class => "btn btn-primary" %>
       </td>
       
       
       <td>
      <%= link_to  safe ,method: :delete, data: { confirm: "本当にこの在庫データを削除しますか？" }, :class => "btn btn-primary" do %>
        <i class="fa fa-trash-o"></i>
        <% end %>
       </td>
       <% end %>

      </tr>


<% end %>
</tbody>
</table>
<%= paginate @safes %>
</div>
</div>
</div>





</div>
</div>