<li id="micropost-<%= micropost.id %>">
  <%= link_to gravatar_for(micropost.user, size: 50), micropost.user %>
  
  <span class="user"><%= link_to micropost.user.name, micropost.user %></span>
  <!-- micropost.user.name = childnameこいつの.familryname親の.charactor性格 -->
  <!-- micropost.user = SHOWページ　(投稿したユーザー)  -->
  
  <span class="content">
    <%= micropost.content %>
    <%= image_tag micropost.picture.url if micropost.picture? %>
    <!--画像表示するコード-->
  </span>
  
  <span class="timestamps">
    
    Posted <%= time_ago_in_words(micropost.created_at) %> ago.
  <!-- time_ago_in_words　ーfunction 時間を表示する  -->
    
  | <%= link_to "delete" , micropost ,method: :delete, data: { confirm: "you sure?" } %>
  
  </span>
</li>