<h3>スロット機器の詳細</h3>

<div class="width_table">
<table class="table font-small sampleTable">


<tr scope="row"> 
  <th width="50"  class="thead-inverse">物件名</th>
  <td width="150" ><%= @sell.name %></td>
<tr>
  
<tr scope="row"> 
  <th width="50"  class="thead-inverse">メーカー</th>
  <td width="150" ><%= @sell.maker %></td>
<tr>
  
 <tr scope="row"> 
  <th width="50"  class="thead-inverse">状況</th>
  <td width="150" ><%= @sell.status %></td>
<tr>   
  
 <tr scope="row"> 
  <th width="50"  class="thead-inverse">前設置</th>
  <td width="150" ><%= @sell.place %></td>
<tr>
  
  
  
<tr scope="row"> 
  <th width="50"  class="thead-inverse">数量</th>
  <td width="150" ><%= @sell.number %></td>
<tr>
  
  
<tr scope="row"> 
  <th width="50"  class="thead-inverse">シリンダー</th>
  <td width="150" ><%= @sell.cylinder %></td>
<tr>

  
 <tr scope="row"> 
  <th width="50"  class="thead-inverse">価格</th>
  <td width="150" ><%= @sell.price.to_s(:delimited) %>円</td>
<tr>  
  
  
<tr scope="row"> 
  <th width="50"  class="thead-inverse">撤去日</th>
  <td width="150" ><%= @sell.removal_date %></td>
<tr> 

<tr scope="row"> 
  <th width="50"  class="thead-inverse">残債</th>
  <td width="150" ><%= @sell.remnant %></td>
<tr>



<tr scope="row"> 
  <th width="50"  class="thead-inverse">使用次</th>
  <td width="150" ><%= @sell.remnant %></td>
<tr>
    

<tr scope="row"> 
  <th width="50"  class="thead-inverse">状態</th>
  <td width="150" ><%= @sell.condition %></td>
<tr>
    
    

<tr scope="row"> 
  <th width="50"  class="thead-inverse">備考</th>
  <td width="150" ><%= @sell.remarks %></td>
<tr> 

  
<tr scope="row"> 
  <th width="50"  class="thead-inverse">更新日</th>
  <td width="150" ><%= @sell.created_at.strftime("%m/%d") %></td>
<tr>
  



</table>
</div>