<!DOCTYPE html>
<% if logged_in? %>

<style>
@media only screen and (max-width: 600px) {
.mobilemenu {
	margin-bottom: 30px;
	}
}

</style>


<div class="container-fluid" style="border-bottom: 1px solid #ccc;">
	<div class="row">
		<div class="col-md-offset-1 col-md-3 col-xs-12" style="margin-top: 30px;">
 		<img src="../../../timee-logo.jpg" class="img img-responsive" width="100px;">
	     <p style="font-family: 'Work Sans', sans-serif, cursive; font-size:12px;">There is always time to LEARN!</p>
		</div>

		<% unless current_user.type_user == "teacher"%>

		<div class="col-md-offset-1 col-md-2 col-xs-12" style="margin-top: 40px;">
			 <% unless current_user.type_user == "teacher" %>
                    <% @mins = current_user.time % 60 %>
                   	<%=  link_to edit3_user_path(current_user.id) do %>
                    <i class="fa fa-hourglass" aria-hidden="true"></i>: <%= @mins %>
                    <% end %>
                    <% end %>
		</div>
		<% end %>

		<% if current_user.admin? %>

		<div class="col-md-1">
		 <%=  link_to users_path do %>
	      <span class="fa fa-users"></span> Users
	     <% end %>
		</div>

		<div class="col-md-1">
		<%=  link_to safes_path do %>
        	<span class="fa fa-table"></span> Logs
      	<% end %>
		</div>

		<div class="col-md-1">
		<%=  link_to salary_user_path do %>
        	<span class="fa fa-jpy"></span> Salary</li>
     	<% end %>
		</div>

        <% else %>

        <% if current_user.type_user == "teacher" %>

        <div class="col-md-offset-1 col-md-2 col-xs-12" style="margin-top: 40px;">
  		 <%=  link_to edit2_user_path(current_user.id) do %>
            <span class="fa fa-rocket"></span> Dashboard
        </div>

          <% end %>
        <% end %>

        <% end %>

		<div class="col-md-5 col-xs-12 mobilemenu" style="margin-top: 40px;">
			<div class="col-md-3 col-xs-3">
			<a href="/"><img src="../../book.png" class="img img-responsive" style="width: 20px;"></a>
			</div>

			<div class="col-md-3 col-xs-3">
			<%=  link_to edit3_user_path(current_user.id) do %><img src="../../clock.png" class="img img-responsive" style="width: 20px;">
			<% end %>
			</div>

			<div class="col-md-3 col-xs-3">
			<%=  link_to edit_user_path(current_user.id) do %> <img src="../../user.png" class="img img-responsive" style="width: 20px;">
			<% end %>
			</div>

			<div class="col-md-3 col-xs-3">
			<%=  link_to "/logout", method: :delete do %><img src="../../logout.png" class="img img-responsive" style="width: 20px;">
			<% end %>
			</div>
		</div>
</div>
</div>



<% end %>