<!DOCTYPE html>
<% if logged_in? %>
<div id="app" class="container-fullwidth" style="margin:20px 10% 0 10%;">
<nav class="navbar navbar-expand-lg">

                <a class="navbar-brand" href="/">
                <img src="../../../timee-logo.jpg" class="img img-responsive">
                <p style="font-family: 'Work Sans', sans-serif, cursive; font-size:12px;">
                There is always time to LEARN!</p>
                </a>

                <% unless current_user.type_user == "teacher"%>
                    　<ul style=" float:left; color:black; margin:35px 50px 0 0; width:150px;" >
                        <li>
                           <p>
                               <!--Your available TIME-->
                               <span style="
                font-family: 'Quicksand', sans-serif;
                font-family: 'Nothing You Could Do', cursive;
                font-family: 'Black Ops One', cursive;
                , cursive; ">
                               <i class="fa fa-hourglass" aria-hidden="true"></i>
                               <%#= current_user.time/60 %>:
                               <%# @mins = current_user.time % 60 %>
                               <%# if @mins % 60 < 10 %>
                               0<%#= @mins %>
                               <%# else %>
                               <%#= @mins %>
                               <%# end %>
                               </span>
                           </p>
                        </li>
                      </ul>
                <% end %>
     
                <div id="navbarNavDropdown" class="navbar-collapse collapse">
                    
                    <ul class="nav navbar-nav navbar-right" style="font-family: 'Work Sans', sans-serif;">
                        
                    <% if current_user.admin? %>

                          <li>  <%=  link_to users_path do %>
                            <span class="fa fa-users"></span> Users</li>
                          <% end %>

                          <li>  <%=  link_to safes_path do %>
                            <span class="fa fa-table"></span> Logs</li>
                          <% end %>

                          <li>  <%=  link_to salary_user_path do %>
                            <span class="fa fa-jpy"></span> Salary</li>
                          <% end %>
                            
                            
                    <% else %>
 
                        <% if current_user.type_user == "teacher" %>
                          <li>  <%=  link_to edit2_user_path(current_user.id) do %>
                            <span class="fa fa-rocket"></span> Dashboard</li>
                          <% end %>
                        <% end %>

                        <% if current_user.type_user == "student" %>

                          <li>  <%=   link_to  "/" do %>
                            <span class="fa fa-graduation-cap"></span> Study</li>
                          <% end %>

                          <li>  <%=  link_to edit3_user_path(current_user.id) do %>
                            <span class="fa fa-hourglass-half"></span> Purchase</li>
                          <% end %>
                        <% end %>                         

      
                        <% if current_user.type_user != "not-yet-teacher" %>

                          <li>  <%=  link_to edit_user_path(current_user.id) do %>
                            <span class="fa fa-user-o"></span> Profile</span>
                            <% end %>
                        <% end %>
                    <% end %>

                            <li>  <%=  link_to "/logout" do %>
                            <span class="fa fa-sign-out"></span> Log out</span>
                            <% end %>

                    </ul>
                </div>
            </nav>
        </div>
<div class="margin">
</div>
<% else %>
                  
                  <!--<li class="right_menu menu_box"><a rel="nofollow" href="/signup"><button class="btn btn-lg btn-default"><i class='fa fa-sign-in'></i> 登録</button></a></li>-->
                    <!-- <li><%#= link_to "Log in", "/signup" %></li> -->
                  
                  <!--<li class="right_menu menu_box"><a rel="nofollow" href="/login"><button class="btn btn-lg btn-default"><i class='fa fa-sign-in'></i> ログイン</button></a></li>-->
                    <!-- <li><%#= link_to "Log in", login_path %></li> -->
                    
                    
<% end %>